{% extends 'base.html.twig' %}
{% import 'macros/breadcrumbs.html.twig' as breadcrumbs %}

{% block title %}{{ 'new invitation'|trans|capitalize }}{% endblock %}

{% block content %}

{{ breadcrumbs.render([
    {'text': 'account'|trans|capitalize},
    {'url': url('account_invitation'), 'text': 'invitations'|trans|capitalize},
    {'text': 'new'|trans|capitalize},
]) }}


<h1>{{ 'new invitation'|trans|capitalize }}</h1>

{% if openRegistration %}
<div class="alert alert-light">{{ 'Registrations are open, no more need for invitation.'|trans }}</div>
{% elseif userLimitReached %}
<div class="alert alert-danger">{{ 'User limit reached, impossible to invite new users.'|trans }}</div>
{% elseif needToWait %}
<div class="alert alert-warning">{{ 'Last invitation send too recently, impossible to invite new users.'|trans }}</div>
{% endif %}



<p>{{('Invitations are valid for a {hours} hours period.')|trans({hours: invitationDuration|date('%h') }) }}</p>

{% if app.user.userClass.inviteFrequency %}
<p>{{ ('You can send an invitation every {days} days')|trans({days: app.user.userClass.inviteFrequency })}} </p>
{% endif %}

{{ form(form) }}


{% endblock %}
