{% extends 'base.html.twig' %}
{% import 'macros/breadcrumbs.html.twig' as breadcrumbs %}




{% block title %}Invitations{% endblock %}

{% block content %}

{{ breadcrumbs.render([
    {'text': 'Account'},
    {'text': 'Invitations'},
]) }}

<h1>Invitations</h1>


{% if app.user.userClass.canInvite %}

<h2>Used Invitations</h2>

<ul>
{% for invitation in usedInvitations %}
<li>
{{ invitation.createdAt|format_datetime('short', 'short', locale='en') }}
<a href="{{ path('user_show', {id: invitation.child.id}) }}">{{ invitation.child.username }}</a>
</li>
{% endfor %}
</ul>

<h2>Actives Invitations</h2>

<ul>
{% for invitation in activeInvitations %}
<li>
{{ invitation.createdAt|format_datetime('short', 'short', locale='fr') }}
code : <code>{{ invitation.code }}</code>
<i>expire in {{ invitation.createdAt|date_modify(invitationDuration|date("+ %h hours")).diff(date("now"))|date("%d days %Hh %Imin %Ss") }}</i>
</li>
{% endfor %}
</ul>

<a class="btn btn-success" href="{{ path('account_invitation_new') }}">new invitation</a>
{% else %}
<div class="alert alert-warning">You cannot invite people yet. Checkout <a href="{{ path('userclass') }}">User Classes permissions</a></div>
{% endif %}


{% endblock %}
