{% extends 'base.html.twig' %}
{% import 'macros/breadcrumbs.html.twig' as breadcrumbs %}
{% import 'macros/user.html.twig' as userMacro %}




{% block title %}{% endblock %}

{% block content %}

{{ breadcrumbs.render([
    {'text': 'account'|trans|capitalize},
    {'text': 'invitations'|trans|capitalize},
]) }}

<h1>{{ 'invitations'|trans|capitalize }}</h1>


{% if app.user.userClass.canInvite %}

<h2>{{ 'Used Invitations'|trans }}</h2>

<ul class="list-group list-group-flush">
    {% for invitation in usedInvitations %}
    <li class="list-group-item">
        {{ userMacro.render(invitation.child) }}
        <small>{{ invitation.createdAt|ago }}</small>
    </li>
    {% endfor %}
</ul>

<h2>{{ 'actives invitations'|trans|capitalize }}</h2>

<ul class="list-group list-group-flush">
    {% for invitation in activeInvitations %}
    <li class="list-group-item">
        {{ 'code'|trans }} : <code>{{ invitation.code }}</code>
        <i>{{ 'expire in'|trans }} {{ invitation.createdAt|date_modify(invitationDuration|date("+ %h hours")).diff(date("now"))|date("%d days %Hh %Imin %Ss") }}</i>
        <small>{{ invitation.createdAt|ago }}</small>
    </li>
    {% endfor %}
</ul>

<a class="btn btn-success" href="{{ path('account_invitation_new') }}">{{ 'new invitation'|trans }}</a>
{% else %}
<div class="alert alert-warning">{{ 'You cannot invite people yet. Checkout'|trans }} <a href="{{ path('userclass') }}">{{ 'User Classes permissions'|trans }}</a></div>
{% endif %}


{% endblock %}
