{% extends 'base.html.twig' %}
{% import 'macros/breadcrumbs.html.twig' as breadcrumbs %}




{% block title %}Settings{% endblock %}

{% block content %}

{{ breadcrumbs.render([
    {'text': 'account'|trans|capitalize},
    {'text': 'settings'|trans|capitalize},
]) }}

<h1>{{'settings'|trans|capitalize}}</h1>


<div class="card mb-3">

    <div class="card-header">

        <h3 class="card-title">
            {{ 'email'|trans|capitalize }}
            <span class="badge"><small>{{ app.user.isVerified ? 'verified'|trans : 'not verified'|trans }}</small></span>
        </h3>

    </div>

    <div class="card-body">

        <p>{{ 'actual email adress:'|trans|capitalize }} <code>{{ app.user.email }}</code></p>

        <div class="text-info mb-3">
            {{ 'This email address is never visible, it\'s only for notification purposes or lost password.'|trans }}
        </div>

        {% if not app.user.isVerified %}

        <a class="btn btn-primary" href="{{ path('email_send') }}">{{ 'send email verification'|trans|capitalize }}</a>

        {% endif %}

        <a class="btn btn-primary" href="{{ path('email_edit') }}">{{ 'change email adress'|trans|capitalize }}</a>


    </div>
</div>

<div class="card mb-3">

    <div class="card-header">

        <h3 class="card-title">
            {{ 'security'|trans|capitalize }}
        </h3>

    </div>

    <div class="card-body">

        <a class="btn btn-primary" href="">{{ 'reset password'|trans|capitalize }}</a>

    </div>
</div>

{% endblock %}
