{% extends 'base.html.twig' %}
{% import 'macros/breadcrumbs.html.twig' as breadcrumbs %}




{% block title %}Settings{% endblock %}

{% block content %}

{{ breadcrumbs.render([
    {'text': 'Account'},
    {'text': 'Setings'},
]) }}

<h1>Settings</h1>


<div class="card mb-3">

    <div class="card-header">

        <h3 class="card-title">
            Email
            <span class="badge"><small>{{ app.user.isVerified ? 'verified' : 'not verified' }}</small></span>
        </h3>

    </div>

    <div class="card-body">

        <p>Actual email adress: <code>{{ app.user.email }}</code></p>

        <div class="text-info mb-3">
            This email address is never visible, it's only for notification purposes or lost password.
        </div>

        {% if not app.user.isVerified %}

        <a class="btn btn-primary" href="{{ path('email_send') }}">Send email verification</a>

        {% endif %}

        <a class="btn btn-primary" href="{{ path('email_edit') }}">Change Email adress</a>


    </div>
</div>

<div class="card mb-3">

    <div class="card-header">

        <h3 class="card-title">
            Security
        </h3>

    </div>

    <div class="card-body">

        <a class="btn btn-primary" href="">Reset password</a>

    </div>
</div>

{% endblock %}
