{% extends 'base.html.twig' %}

{% block title %}{{ 'login'|trans|capitalize }}{% endblock %}

{% block content %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            {{ 'You are logged in as'|trans|capitalize }} {{ app.user.username }}, <a href="{{ path('app_logout') }}">{{ 'logout'|trans|capitalize }}</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 fw-normal">{{ 'please sign in'|trans|capitalize }}</h1>
    <label for="inputUsername">{{ 'username'|trans|capitalize }}</label>
    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
    <label for="inputPassword">{{ 'password'|trans|capitalize }}</label>
    <input type="password" name="password" id="inputPassword" class="form-control" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <div class="checkbox mb-3 mt-3">
        <label>
            <input type="checkbox" name="_remember_me"> {{ 'remember me'|trans|capitalize }}
        </label>
    </div>


    <button class="btn btn-lg btn-primary" type="submit">
        {{ 'sign in'|trans|capitalize }}
    </button>
</form>

<div class="mt-3">
    <a href="{{ path('app_forgot_password_request') }}">{{ 'forgoten password or username '|trans|capitalize }}?</a>
</div>

{% endblock %}
