{% extends 'base.html.twig' %}
{% import "macros/user.html.twig" as userMacro %}
{% import "macros/ago.html.twig" as agoMacro %}
{% import 'macros/sharable.html.twig' as sharableMacro %}

{% block title %}{{ 'home'|trans|capitalize }}{% endblock %}

{% block content %}


    <div class="jumbotron">
        <h1 class="display-5">{{ siteName }}</h1>
        
        <p class="lead">{{ siteDescription }}</p>

        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <h5>
            {{ 'hello'|trans|capitalize }} {{ app.user.username }} !
        </h5>
        <p>
            {{ 'You are currently visiting the home page of'|trans }} {{ siteName }}.
            {{ 'This network allow you to share what are called sharables with the other users'|trans }}.

            {{ 'First thing to do is to'|trans }} <a href="{{ path('rule_index') }}">{{ 'read the rules'|trans }}</a>.
            {{ 'Next, you should check the'|trans }} <a href="{{ path('userclass') }}">{{ 'user classes system'|trans }}</a>.

            <ul>

                <li>

                    {% if app.user.userClass.share %}
                    {{ 'You can create sharables!'|trans }}
                    {% else %}
                    {{ 'Your user class does not allow you to create sharables'|trans }}.
                    {% endif %}
                </li>
                <li>
                    {% if app.user.userClass.access %}

                    {{ 'You can explore sharables using the'|trans }} <a href="{{ path('sharable') }}">{{ 'list view'|trans }}</a> {{ 'or trought the'|trans }} <a href="{{ path('sharable_map') }}">{{ 'the map'|trans }}</a>.
                    {% else %}
                    {{ 'Your user class does not allow you to access sharables, but maybe some users have allowed some sharables to be accessibles by your user class'|trans }}.
                    {% endif %}
                </li>
            </ul>
        </p>
        {% endif %}
    </div>
{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
<div class="row">
    <div class="col">
        {% for manage in app.user.getUnconfirmedManages|reverse %}
        <div class="alert border border-primary">
            <a class="btn btn-primary mr-1" href="{{ path('sharable_show', {id: manage.sharable.id}) }}">
                <i class="fas fa-user-plus"></i>
            </a>
            {{ 'You\'ve been invited to manage'|trans }} {{ sharableMacro.render(manage.sharable) }}.
            <div class="btn-group">
                <a class="btn btn-secondary" href="{{ path('manage_confirm', {id: manage.id}) }}"><i class="fas fa-check"></i> {{ 'confirm'|trans }}</a>
                <a class="btn btn-secondary" href="{{ path('manage_remove', {id: manage.id}) }}"><i class="fas fa-times"></i> { 'refuse'|trans }}</a>
            </div>
            <small class="text-muted">{{ manage.createdAt|ago }}</small>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}



<div class="row">
    
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
    <style>
        .article img { max-width: 100%; }               
    </style>
    <div class="col-md-8">

        {% for announcement in announcementsPagination %}    

            <div class="card mb-3">
                <div class="card-header">
                    <h5 class="card-title d-flex justify-content-between align-items-center">
                        <span>
                            {{ announcement.title }}
                            <small>{{ agoMacro.render(announcement.publishedAt) }}</small>
                        </span>

                        <div class="btn-group">
                            {% if is_granted('edit', announcement) %}
                                <a href="{{ path('announcement_edit', {id: announcement.id}) }}" class="btn btn-primary"><i class="fas fa-pen"></i></a>
                            {% endif %}
                            {% if is_granted('delete', announcement) %}
                                <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu">
                                    <a href="{{ path('announcement_delete', {id: announcement.id}) }}" class="dropdown-item bg-danger">
                                        <i class="fas fa-times-circle"></i> {{ 'delete announcement'|trans }}
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    </h5>
                </div>
                <div class="card-body article">
                    {{ announcement.article|markdown_to_html }}
                </div>
            </div>
            
        {% endfor %}

        <div class="navigation">
            {{ knp_pagination_render(announcementsPagination) }}
        </div>
        
    </div>
    {% endif %}



    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') or showHomeStats %}
    <div class="col-md-4">


        <div class="card mb-3">
            <div class="card-header">
                <h5 class="card-title">{{ 'currently active users'|trans|capitalize }}</h5>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    {% for user in activeUsers %}
                    <li class="list-group-item">
                        {{ userMacro.render(user) }}
                        </br>
                        <small class="text-muted">{{ 'last seen'|trans }} {{ user.lastActivity|ago }}</small>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>


        <div class="card mb-3">
            <div class="card-header">

                <div class="card-title">
                <h5>{{ 'stats'|trans|capitalize }}</h5>
                </div>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        {{ 'sharables'|trans|capitalize }} : {{ sharableCount }}
                    </li>
                    <li class="list-group-item">
                        {{ 'users'|trans|capitalize }} : {{ userCount }}
                    </li>
                    <li class="list-group-item">
                        {{ 'validations'|trans|capitalize }} : {{ validationCount }}
                    </li>
                    <li class="list-group-item">
                        {{ 'questions'|trans|capitalize }} : {{ questionCount }}
                    </li>
                    <li class="list-group-item">
                        {{ 'user limit'|trans|capitalize }} : {{ userLimit }}
                    </li>
                    <li class="list-group-item">
                        {{ 'registration'|trans|capitalize }} : {{ openRegistration ? 'open'|trans : 'invite only'|trans }}
                    </li>
                </ul>
            </div>
        </div>
        
    </div>
    {% endif %}

</div>




{% endblock %}
