{% extends 'base.html.twig' %}
{% import "macros/user.html.twig" as userMacro %}
{% import 'macros/sharable.html.twig' as sharable %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="jumbotron">

    <h1 class="display-4">{{ siteName }}</h1>

    <p class="lead">{{ siteDescription }}</p>

    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
    <p>
        Hi {{ app.user.username }} !
    </p>
    {% endif %}

</div>


<div class="row">
    
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
    <div class="col-md-8">


        <div class="card mb-3">
            <div class="card-header">
                <h3 class="card-title">Currently active users</h3>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    {% for user in activeUsers %}
                    <li class="list-group-item">
                        {{ userMacro.render(user) }}
                        <small class="text-muted">last seen {{ user.lastActivity|ago }}</small>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        {% if is_granted('view', sharable) %}
        
        <div class="card mb-3">
            <div class="card-header">
                <h3 class="card-title">
                    Last validations</h3>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        {% for validation in lastValidations %}
                        {% if is_granted('view', validation.sharable) %}
                        <li class="list-group-item">

                            {{ userMacro.render(validation.user, 1) }}
                            <i class="fas fa-check-circle"></i>
                            {{ sharable.render(validation.sharable) }}

                            {% if validation.message %}
                                <div class="p-2 mt-2 bg-success rounded text-truncate">
                                    {{ validation.message }}
                                </div>
                            {% endif %}

                            <small class="text-muted">
                                {{ validation.sendAt|ago }}
                            </small>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            
        {% endif %}
        
    </div>
    {% endif %}



    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') or showHomeStats %}
    <div class="col-md-4">


        <div class="card mb-3">
            <div class="card-header">

                <div class="card-title">
                <h3>Stats</h3>
                </div>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        Sharables : {{ sharableCount }}
                    </li>
                    <li class="list-group-item">
                        Validations : {{ validationCount }}
                    </li>
                    <li class="list-group-item">
                        Users : {{ userCount }}
                    </li>
                    <li class="list-group-item">
                        Users limit : {{ userLimit }}
                    </li>
                    <li class="list-group-item">
                        Registrations : {{ openRegistration ? 'open' : 'invite only' }}
                    </li>
                </ul>
            </div>
        </div>
        
    </div>
    {% endif %}

</div>




{% endblock %}
