{% extends 'base.html.twig' %}
{% import "macros/user.html.twig" as userMacro %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="jumbotron">

    <h1 class="display-4">{{ siteName }}</h1>

    <p class="lead">{{ siteDescription }}</p>

    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
    <p>
        Discover <a href="{{ path('sharable') }}">sharables</a>, or <a href="{{ path('user_edit', {id: app.user.id}) }}">edit your profile</a>.
    </p>
    {% endif %}



</div>

{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}


<div class="card mb-3">

    <div class="card-header">
        <h3 class="card-title">Last active users</h3>
    </div>

    <div class="card-body">
        <ul class="list-group list-group-flush">
            {% for user in activeUsers %}
            <li class="list-group-item">
                {{ userMacro.render(user) }}
                <small>last seen {{ user.lastActivity|ago }}</small>
            </li>
            {% endfor %}
        </ul>

    </div>

</div>

{% endif %}



{% if is_granted('IS_AUTHENTICATED_REMEMBERED') or showHomeStats %}

<div class="card mb-3">

    <div class="card-header">

        <div class="card-title">
        <h3>Stats</h3>
        </div>
    </div>

    <div class="card-body">

        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                Sharables : {{ sharableCount }}
            </li>
            <li class="list-group-item">
                Validations : {{ validationCount }}
            </li>
            <li class="list-group-item">
                Users : {{ userCount }}
            </li>
            <li class="list-group-item">
                Users limit : {{ userLimit }}
            </li>
            <li class="list-group-item">
                Registrations : {{ openRegistration ? 'open' : 'invite only' }}
            </li>
        </ul>
    </div>

</div>

{% endif %}



{% endblock %}
