{% extends 'base.html.twig' %}
{% import 'macros/breadcrumbs.html.twig' as breadcrumbs %}
{% import "macros/user.html.twig" as userMacro %}
{% import "macros/sharable.html.twig" as sharableMacro %}
{% import "macros/ago.html.twig" as agoMacro %}

{% block title %}Questions{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-3">
            {{ form(searchForm) }}
        </div>

        <div class="col-md-9">

            
        <div class="alert alert-info">
            {{ questionsPagination.getTotalItemCount }} questions found
            {% if search.user %}
            asked by {{ userMacro.render(search.user, 1) }}
            {% endif %}
            {% if search.sharable %}
            on {{ sharableMacro.render(search.sharable, 1) }}
            {% endif %}
        </div>

            {% for question in questionsPagination %}
            <div class="card mb-3">
                <div class="card-header">            
                    <h5 class="card-title">
                        {{ userMacro.render(question.user, 2) }}
                        >
                        {{ sharableMacro.render(question.sharable) }}
                        <small>
                            {{ agoMacro.render(question.createdAt) }}
                        </small>
                    </h5>
                </div>
                <div class="card-body">
                    
                    <p>{{ question.text }}</p>
                    
                    <div class="btn-group">

                        {% if is_granted('answer', question) %}
                        <a href="{{ path('question_show', {id: question.id}) }}" class="btn btn-primary">
                            answer !
                            <span class="badge badge-secondary">
                                {{ question.answers|length }}
                            </span>
                        </a>
                        {% else %}
                            <a href="{{ path('question_show', {id: question.id}) }}" class="btn btn-light">
                            answers
                            <span class="badge badge-secondary">
                                {{ question.answers|length }}
                            </span>
                        </a>
                        {% endif %}
                    
                        {% if is_granted('edit', question) %}
                        <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu">
                            <a href="{{ path('question_edit', {id: question.id}) }}" class="dropdown-item">
                                <i class="fas fa-pen"></i> edit
                            </a>
                        </div>
                        {% endif %}
                    </div>
                </div>
                
            </div>
            {% endfor %}
        

            <div class="navigation">
                {{ knp_pagination_render(questionsPagination) }}
            </div>

        </div>
    </div>
{% endblock %}
        