{% extends 'base.html.twig' %}
{% import 'macros/breadcrumbs.html.twig' as breadcrumbs %}
{% import "macros/user.html.twig" as userMacro %}
{% import "macros/sharable.html.twig" as sharableMacro %}
{% import "macros/ago.html.twig" as agoMacro %}

{% block title %}{{ 'answer a question'|trans|capitalize }}{% endblock %}

{% block content %}


{{ breadcrumbs.render([
    {'url': url('question'), 'text': 'questions'|trans|capitalize },
    {'text': question.text|u.truncate(40, '...', false)},
]) }}
    <h5>
        {{ userMacro.render(question.user, 2, question.sharable) }}
        >
        {{ sharableMacro.render(question.sharable) }}
        <small>
            {{ agoMacro.render(question.createdAt, true) }}
        </small>

    </h5>
    <div class="jumbotron">
        
        <h4>{{ question.text }}</h4>

    </div>

        
    <div class="btn-group mb-3">
        {% if is_granted('edit', question) %}
        <a class="btn btn-primary" href="{{ path('question_edit', {id: question.id}) }}">
            <i class="fas fa-pen"></i>
            {{ 'edit'|trans }}
        </a>
        {% endif %}
        {% if is_granted('delete', question) %}
        <a href="{{ path('question_delete', {id: question.id}) }}" class="btn btn-danger">
            <i class="fas fa-times-circle"></i>
            {{ 'delete question'|trans }}
        </a>
        {% endif %}
    </div>
        
    {% if question.answers|length > 0 %}
        <h3>{{ 'answers'|trans|capitalize }}</h3>
        
        {% for answer in question.answers %}
        <div class="card mb-3">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5>
                    {{ userMacro.render(answer.user, 2, question.sharable) }}
                </h5>
                {% if is_granted('edit', answer) %}
                    <a href="{{ path('answer_edit', {id: answer.id}) }}" class="btn btn-primary">
                        <i class="fas fa-pen"></i>
                    </a>
                {% elseif is_granted('delete', answer) %}
                    <a href="{{ path('answer_delete', {id: answer.id}) }}" class="btn btn-danger">
                        <i class="fas fa-times-circle"></i>
                    </a>
                {% endif %}
            </div>
            <div class="card-body">
                <p>{{ answer.text }}</p>

                <small>
                    {{ agoMacro.render(answer.createdAt, true) }}
                </small>
            </div>
        </div>
        {% endfor %}
    {% endif %}


    <h3>{{ 'your answer'|trans|capitalize }}</h3>

    {% if is_granted('answer', question) %}
        {{ form(form) }}
    {% else %}
        <p>{{ 'Only sharable managers and user who validated the sharable can answer to questions'|trans }}.</p>        
    {% endif %}


{% endblock %}
