{% extends 'base.html.twig' %}

{% block title %}{{ userClass.name }}{% endblock %}

{% block content %}


{% import 'macros/breadcrumbs.html.twig' as breadcrumbs %}

{{ breadcrumbs.render([
    {'url': url('userclass'), 'text': 'user classes'|trans|capitalize },
    {'url': url('userclass_show', {id: userClass.id}), 'text': userClass.name},
    {'text': 'delete'|trans|capitalize },
]) }}


<h1>{{ userClass.name }}</h1>



<div class="card mb-3">

    <div class="card-header">

        <div class="card-title">
            <h3>{{ 'delete'|trans|capitalize }}</h3>
        </div>
    </div>

    <div class="card-body">

        {% if userClass.users|length %}
            <div class="alert border border-danger">
                {% if userClass.prev %}
                    {{ 'userAmount users will be downgraded to closest previous user class:'|trans({userAmount: userClass.users|length}) }} <strong>{{ userClass.prev.name }}</strong>.
                {% else %}
                    {{ userClass.users|length }} {{ 'userAmount users will be upgraded to closest next user class:'|trans({userAmount: userClass.users|length}) }} <strong>{{ userClass.next.name }}</strong>
                {% endif %}        
            </div>
        {% endif %}

        {% if userClass.sharables|length %}
            <div class="alert border border-danger">
                {{ userClass.sharables|length }} {{ 'sharableAmount sharables are set as visible by this user class. It\'s recommend to move them to upper class, but you can select what you prefer.'|trans({sharableAmount: userClass.sharables|length}) }}
            </div>
        {% endif %}

        <p>

        </p>


        {{ form(form) }}


    </div>
</div>

{% endblock %}