{% extends 'base.html.twig' %}
{% set uc = app.user.userclass %}


{% block content %}

<h1>User Classes</h1>

<h3>My class</h3>

<p>

    Your current user class is:
    <a href="{{ path('userclass_show', {id: uc.id}) }}" class="badge badge-primary">
        {{ uc.name }}
    </a>
    {% if uc.next %}
        next user class is
        <a href="{{ path('userclass_show', {id: uc.next.id}) }}" class="badge badge-primary">{{ uc.next.name }}</a>
    {% endif %}
    
</p>

<h3>User Classes</h3>
    
    <table class="table">
    <thead>
        <th>name</th>
        <th>create</th>
        <th>access</th>
        <th>invite</th>
        <th>users</th>
        {% if is_granted('edit', userClass) %}
            <th>
                edit
            </th>
        {% endif %}
    </thead>
    <tbody class="table-hover">
        {% for userClass in userClasses %}
        <tr {{ userClass == app.user.userClass ? 'class="table-info"' : '' }}>
            <td>
                <a class="btn btn-primary" href="{{ path('userclass_show', {id: userClass.id}) }}">{{ userClass.name }}</a>
            </td>
            <td>
                {{ userClass.share ? '<i class="fas fa-check"></i>' : '' }}
            </td>
            <td>
                {{ userClass.access ? '<i class="fas fa-check"></i>' : '' }}
            </td>
            <td>
                {{ userClass.canInvite ? '<i class="fas fa-check"></i>' : '' }}
            </td>
            <td>
                {{ userClass.users|length }}
            </td>
            {% if is_granted('edit', userClass) %}
            <td>
                <a class="btn btn-primary" href="{{ path('userclass_edit', {id: userClass.id}) }}"><i class="fas fa-pen"></i></a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>


{% if is_granted('create', userClass) %}
<a class="btn btn-success mb-3" href="{{ path('userclass_new', {id: userClass.id}) }}"><i class="fas fa-plus"></i> create new user class</a>
{% endif %}

<h3>How to get an higher user class ?</h3>

<p>
    By filling the next user class requirements.
    It may be based on
    <strong>share score</strong>,
    <strong>account age</strong>,
    <strong>validations given</strong>,
    or <strong>email verification</strong>.
</p>

<h3>How is the <em>share score</em> calculated ?</h3>

<p>
    You win share points each time a sharable you're managing is validated by some user.
    The amount of points earned this way may vary depending on:
</p>

<ul>
    <li>validating user class (higher user rank give more points)</li>
    <li>the amount of validation already given for this sharable (first validations give more points)</li>
    <li>divided by the number of managers</li>
</ul>


{% endblock %}