{% extends 'base.html.twig' %}


{% block content %}

<h1>User Classes</h1>

    {% if is_granted('create', userClass) %}
    <a class="btn btn-success mb-3" href="{{ path('userclass_new', {id: userClass.id}) }}"><i class="fas fa-plus"></i> create new user class</a>
    {% endif %}


{% for userClass in userClasses %}


<div class="card mb-3">

    <div class="card-header">

        <div class="card-title">
        <h3>{{ userClass.name }}</h3>
        </div>
    </div>

    <div class="card-body">

        <ul class="list-group">
            {% if userClass.share %}
            <li class="list-group-item">
                can create sharables
            </li>
            {% endif %}
            {% if userClass.access %}
            <li class="list-group-item">
                can access sharables
            </li>
            {% endif %}
            {% if userClass.canInvite %}
                {% if userClass.inviteFrequency == 0 %}
                <li class="list-group-item">
                    can invite people without limitation
                </li>
                {% else %}
                <li class="list-group-item">
                    can invite one user every {{ userClass.inviteFrequency }} days
                </li>
                {% endif %}
            {% endif %}
            <li class="list-group-item">
                maximum paranoïa level : {{ userClass.maxParanoia }}
            </li>
            {% if userClass.maxInactivity %}
                <li class="list-group-item">
                    Account is disabled after {{ userClass.maxInactivity }} days of inactivity.
                </li>
            {% endif %}
        </ul>

        <a class="btn btn-primary" href="{{ path('userclass_show', {id: userClass.id}) }}">details</a>

    </div>


</div>

{% endfor %}



{% endblock %}