{% extends 'base.html.twig' %}
{% import 'macros/breadcrumbs.html.twig' as breadcrumbs %}
{% set next = app.user.userClass.next == userClass %}

{% block title %}{{ userClass.name }}{% endblock %}

{% block content %}



{{ breadcrumbs.render([
    {'url': url('userclass'), 'text': 'User Classes'},
    {'text': userClass.name},
]) }}


<h1>{{ userClass.name }}</h1>

<div class="btn-group mb-3">

    {% if is_granted('edit', userClass) %}
    <a class="btn btn-primary" href="{{ path('userclass_edit', {id: userClass.id}) }}"><i class="fas fa-pen"></i> edit</a>
    {% endif %}

    {% if is_granted('delete', userClass) %}
    <a class="btn btn-danger" href="{{ path('userclass_delete', {id: userClass.id}) }}"><i class="fas fa-times"></i> delete</a>
    {% endif %}

</div>

<div class="row">


    <div class="col-lg-8">
    

        <div class="card mb-3">

            <div class="card-header">
                <h3 class="card-title">
                    Privileges
                </h3>
            </div>

            <div class="card-body">

                <ul class="list-group list-group-flush">
                    {% if userClass.share %}
                    <li class="list-group-item">
                        can create sharables
                    </li>
                    {% endif %}
                    {% if userClass.access %}
                    <li class="list-group-item">
                        can access sharables
                    </li>
                    {% endif %}
                    {% if userClass.canInvite %}
                        {% if userClass.inviteFrequency == 0 %}
                        <li class="list-group-item">
                            can invite people without limitation
                        </li>
                        {% else %}
                        <li class="list-group-item">
                            can invite one user every {{ userClass.inviteFrequency }} days
                        </li>
                        {% endif %}
                    {% endif %}
                    <li class="list-group-item">
                        maximum paranoïa level : {{ userClass.maxParanoia }}
                    </li>
                    {% if userClass.maxInactivity %}
                        <li class="list-group-item">
                            Account is disabled after {{ userClass.maxInactivity }} days of inactivity.
                        </li>
                    {% endif %}
                </ul>

            </div>
        </div>

        <div class="card mb-3">

            <div class="card-header">
                <h3 class="card-title">Requirements</h3>
            </div>

            <div class="card-body">
    
                <ul class="list-group list-group-flush">
                    {% if userClass.shareScoreReq %}
                    {% set shareScore = next and app.user.shareScore >= userClass.shareScoreReq %}
                    <li class="list-group-item{{ shareScore ? ' list-group-item-success' : '' }}">
                    Share Score : <span class="badge badge-light">{{ userClass.shareScoreReq }}</span>
                    </li>
                    {% endif %}
                    {% if userClass.accountAgeReq %}
                    {% set accountAge = next and app.user.createdAt <= date('-' ~ userClass.accountAgeReq ~ 'days') %}
                    <li class="list-group-item {{ accountAge ? ' list-group-item-success' : '' }}">
                    Account Age : {{ userClass.accountAgeReq }} days
                    </li>
                    {% endif %}
                    {% if userClass.validatedReq %}
                    {% set validated = next and app.user.validations|length >= userClass.validatedReq %}
                    <li class="list-group-item{{ validated ? ' list-group-item-success' : '' }}">
                    Validations given : {{ userClass.validatedReq }}
                    </li>
                    {% endif %}
                    {% if userClass.verifiedReq %}
                    {% set verified = next and app.user.verified %}
                    <li class="list-group-item{{ verified ? ' list-group-item-success' : '' }}">
                    The user email adress need to be verified
                    </li>
                    {% endif %}
                </ul>

                    </div>

                </div>
            </div>


    <div class="col-lg-4">


        <div class="card mb-3">

            <div class="card-header">

                <div class="card-title">
                    <h3>Stats</h3>
                </div>
            </div>

            <div class="card-body">

                <div class="btn-group mb-3">


                {% if userClass.prev %}
                <a class="btn btn-primary" href="{{ path('userclass_show', {id: userClass.prev.id}) }}"><i class="fas fa-angle-left"></i> previous</a>
                {% else %}
                <a class="btn btn-primary disabled"><i class="fas fa-angle-left"></i> previous</a>
                {% endif %}

                {% if userClass.next %}
                <a class="btn btn-primary" href="{{ path('userclass_show', {id: userClass.next.id}) }}">next <i class="fas fa-angle-right"></i></a>
                {% else %}
                <a class="btn btn-primary disabled">next <i class="fas fa-angle-right"></i></a>
                {% endif %}

                </div>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        {{ userClass.users|length }} users
                        {% if app.user.userclass == userClass %}
                            <span class="badge badge-info">
                                including you
                            </span>
                        {% endif %}
                    </li>
                    <li class="list-group-item">
                        {{ userClass.sharables|length }} sharables
                    </li>
                    <li class="list-group-item">
                        Last edited {{ userClass.lastEditedAt|ago }}
                    </li>
                    <li class="list-group-item">
                        Created {{ userClass.createdAt|ago }}
                    </li>
                </ul>

            </div>
        </div>

    </div>
</div>






{% endblock %}