
{% macro render(type, content) %}

    {% if type == 'email' %}
        <i class="fas fa-envelope"></i>
        {{ 'email'|trans|capitalize }} :
        <a href="mailto:{{ content }}">{{ content }}</a>
    {% elseif type == 'url' %}
        <i class="fas fa-link"></i>
        {{ 'url'|trans|capitalize }} : 
        <a target="_blank" href="{{ content }}">{{ content }}</a>
    {% elseif type == 'phone' %}
        <i class="fas fa-phone-alt"></i>
        {{ 'phone'|trans|capitalize }} :
        <a href="tel:{{ content }}">{{ content }}</a>
    {% elseif type == 'address' %}
        <i class="fas fa-map-marker-alt"></i>
        {{type}}: {{ content }}
    {% elseif type == 'matrix' %}
        {{ 'matrix'|trans|capitalize }} :
        <a target="_blank" href="matrix:u/{{ content|trim('@') }}">{{ content }}</a>
    {% elseif type == 'facebook' %}
        <i class="fab fa-facebook-square"></i>
        {{ 'facebook'|trans|capitalize }} :
        <a target="_blank" href="{{ content|trim('@') }}">{{ content }}</a>
    {% else %}
        {{type}}: {{ content }}
    {% endif %}

{% endmacro %}