
{% macro render(type, content) %}

    {% if type == 'email' %}
        <i class="fas fa-envelope"></i>
        Email:
        <a href="mailto:{{ content }}">{{ content }}</a>
    {% elseif type == 'url' %}
        <i class="fas fa-link"></i>
        Url: 
        <a target="_blank" href="{{ content }}">{{ content }}</a>
    {% elseif type == 'phone' %}
        <i class="fas fa-phone-alt"></i>
        Phone:
        <a href="tel:{{ content }}">{{ content }}</a>
    {% elseif type == 'address' %}
        <i class="fas fa-map-marker-alt"></i>
        {{type}}: {{ content }}
    {% elseif type == 'matrix' %}
        Matrix:
        <a target="_blank" href="matrix:u/{{ content|trim('@') }}">{{ content }}</a>
    {% elseif type == 'facebook' %}
        <i class="fab fa-facebook-square"></i>
        Facebook:
        <a target="_blank" href="{{ content|trim('@') }}">{{ content }}</a>
    {% else %}
        {{type}}: {{ content }}
    {% endif %}

{% endmacro %}