{% extends 'base.html.twig' %}
{% import 'macros/breadcrumbs.html.twig' as breadcrumbs %}
{% import "macros/ago.html.twig" as agoMacro %}

{% block title %}{{ 'announcements'|trans|capitalize }}{% endblock %}

{% block content %}

{{ breadcrumbs.render([
    {'url': url('admin'), 'text': 'admin'|trans|capitalize},
    {'text': 'announcements'|trans|capitalize}
]) }}

<h1>{{ 'announcements'|trans|capitalize }}</h1>

{% if is_granted('create', announcement) %}
    <a href="{{ path('announcement_new') }}" class="btn btn-success"><i class="fas fa-plus-circle"></i> {{ 'new announcement'|trans|capitalize }}</a>
{% endif %}

{% for announcement in announcements|reverse %}
    <div class="card mt-3">
        <div class="card-header">
            <h5 class="card-title d-flex justify-content-between align-items-center">
                <span>
                    {% if announcement.publishedAt > date('now') %}
                        <i class="fas fa-clock"></i>
                    {% endif %}
                    {{ announcement.title }}
                    <small>{{ agoMacro.render(announcement.publishedAt) }}</small>
                </span>
                <div class="btn-group">
                    {% if is_granted('edit', announcement) %}
                        <a href="{{ path('announcement_edit', {id: announcement.id}) }}" class="btn btn-primary"><i class="fas fa-pen"></i></a>
                    {% endif %}
                    {% if is_granted('delete', announcement) %}
                        <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu">
                            <a href="{{ path('announcement_delete', {id: announcement.id}) }}" class="dropdown-item bg-danger">
                                <i class="fas fa-times-circle"></i> {{ 'delete announcement'|trans|capitalize }}
                            </a>
                        </div>
                    {% endif %}
                </div>
            </h5>
        </div>
        <div class="card-body">
            {{ announcement.article|markdown_to_html }}
        </div>
    </div>
{% endfor %}

{% endblock %}
