{% extends 'base.html.twig' %}
{% import "macros/ago.html.twig" as agoMacro %}

{% block title %}Announcements{% endblock %}

{% block content %}

<h1>Announcements</h1>

<a href="{{ path('announcement_new') }}" class="btn btn-success"><i class="fas fa-plus-circle"></i> New announcement</a>

{% for announcement in announcements|reverse %}
    <div class="card mt-3">
        <div class="card-header">
            <h5 class="card-title">
                {{ announcement.title }}
                <small>{{ agoMacro.render(announcement.publishedAt, true) }}</small>
                <div class="btn-group">
                    {% if is_granted('edit', announcement) %}
                        <a href="{{ path('announcement_edit', {id: announcement.id}) }}" class="btn btn-primary"><i class="fas fa-pen"></i></a>
                    {% endif %}
                    {% if is_granted('delete', announcement) %}
                        <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu">
                            <a href="{{ path('announcement_delete', {id: announcement.id}) }}" class="dropdown-item bg-danger">
                                <i class="fas fa-times-circle"></i> delete announcement
                            </a>
                        </div>
                    {% endif %}
                </div>
            </h5>
        </div>
        <div class="card-body">
            {{ announcement.article|markdown_to_html }}
        </div>
    </div>
{% endfor %}

{% endblock %}
