{% extends 'base.html.twig' %}
{% import 'macros/breadcrumbs.html.twig' as breadcrumbs %}
{% import 'macros/content_by_type.html.twig' as content_by_type %}
{% import 'macros/user.html.twig' as userMacro %}


{% block title %}{{ sharable.name }} : Contact{% endblock %}

{% block content %}


{{ breadcrumbs.render([
    {'url': url('sharable'), 'text': 'Sharables'},
    {'url': url('sharable_show', {id: sharable.id}), 'text': sharable.name},
    {'text': 'Contact'},
]) }}

<h1>Contacts</h1>

{% if is_granted('edit', sharable) %}
    <div class="help">
        <p>
        The contacts are not directly visible by the other users.
        When they are <strong>interested</strong>, users can have an access to this contact infos, depending on the <strong>contact method</strong> selected for this Sharable.
        </p>
        <p>
        There are two types of contacts infos : somes are related directly to the Sharable and some are related to users managing it.
        Each manager can choose to be directly contactable or not, but there need to be at least one contact info accessible.
        </p>
    </div>
{% endif %}

<h3>Sharable contacts</h3>

{% if is_granted('edit', sharable) %}
<a class="btn btn-success mb-3" href="{{ path('sharable_contact_add', {id: sharable.id}) }}"><i class="fas fa-plus-circle"></i> add new contact</a>
{% endif %}


{% for sharableContact in sharable.sharableContacts %}

    <div class="card mb-3">

        <div class="card-header d-flex justify-content-between align-items-center">

            <h4 class="card-title">
                {{ sharableContact.type }} :
                {{ content_by_type.render(sharableContact.type, sharableContact.content) }}
            </h4>

            <small>
                {{ sharableContact.createdAt|ago }}
            </small>
        </div>

        {% if sharableContact.info %}

            <div class="card-body">

            {% if sharableContact.info|length > 500 %}
                <a class="btn btn-primary" data-toggle="collapse" href="#info_{{ sharableContact.id }}" role="button" aria-expanded="false" aria-controls="info_{{ sharableContact.id }}">
                    View info
                </a>
                <div class="collapse" id="info_{{ sharableContact.id }}">
                    <pre>{{ sharableContact.info }}</pre>
                </div>
            {% else %}
                <pre>{{ sharableContact.info }}</pre>
            {% endif %}

            </div>

        {% endif %}

    </div>


{% endfor %}


<h3>Managers contacts</h3>

{% for manage in sharable.managedBy %}

{% if manage.contactable and not manage.user.disabled or is_granted('edit', sharable) %}

    <div class="card mb-3">

        <div class="card-header d-flex justify-content-between align-items-center">

            <h4 class="card-title">
                {{ userMacro.render(manage.user) }}

                {% if is_granted('edit', sharable) %}
                    <span>
                    {% if manage.contactable and not manage.user.disabled %}
                        <span class="badge badge-success" ><i class="fas fa-eye"></i> visible</span>
                    {% else %}
                        <span class="badge badge-danger" ><i class="fas fa-eye-slash"></i> hidden</span>
                    {% endif %}
                    </span>
                {% endif %}
            </h4>


            {% if is_granted('hide_contact', manage) %}
                <a class="btn btn-primary" href="{{ path('manage_uncontactable', {id: manage.id}) }}">
                    <i class="fas fa-eye-slash"></i> hide contact infos
                </a>
            {% elseif is_granted('show_contact', manage) %}
                <a class="btn btn-primary" href="{{ path('manage_contactable', {id: manage.id}) }}">
                    <i class="fas fa-eye"></i> show contact infos
                </a>
            {% endif %}
        </div>

        <div class="card-body">


        <ul>
        {% for userContact in manage.user.userContacts %}
            <li>
                {{userContact.type}} :
                {{ content_by_type.render(userContact.type, userContact.content) }}
                {% if userContact.info %}
                    <span class="badge badge-light">info</span>
                {% endif %}
            </li>
        {% endfor %}
        </ul>        

        <a class="btn btn-primary" href="{{ path('user_contact', {id: manage.user.id}) }}"><i class="fas fa-info-circle"></i> view detailed contact infos</a>

    
        </div>

    </div>

{% endif %}

{% endfor %}

{% endblock %}