{% extends 'base.html.twig' %}


{% block title %}{{ sharable.name }}{% endblock %}

{% block content %}

{% import 'macros/breadcrumbs.html.twig' as breadcrumbs %}

{{ breadcrumbs.render([
    {'url': url('sharable'), 'text': 'Sharables'},
    {'url': url('sharable_show', {id: sharable.id}), 'text': sharable.name},
    {'text': 'Edit'},
]) }}

<h1>Sharable edit</h1>


{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.details) }}

    <div class="alert alert-secondary">
        Currently sharable are visible by those user classes:
        {% for userClass in canAccessUserClass %}
            <span class="badge badge-primary">{{ userClass.name }}</span>
        {% endfor %}
    </div>

    {{ form_row(form.visibleBy) }}
    {{ form_row(form.interestedMethod) }}
{{ form_end(form) }}


{% endblock %}