{{ form_start(form) }}
{{ form_errors(form) }}  


<fieldset class="p-3 border border-secondary rounded mb-3">
    <h4>{{ 'infos'|trans|capitalize }}</h4>

    {{ form_row(form.name) }}
    {{ form_row(form.coverFile, {
        attr: {
            'placeholder': 'Select an cover image'
        }
    }) }}
    {{ form_row(form.description) }}
    {{ form_row(form.details) }}
    {{ form_row(form.tags) }}

</fieldset>

<fieldset class="p-3 border border-secondary rounded mb-3">

    <h4 class="d-inline-block">Visibility</h4>
    <p>
        {{ 'By default, sharables are visible by those user classes:'|trans }}
        {% for userClass in canAccessUserClass %}
        <span class="badge badge-primary">{{ userClass.name }}</span>
        {% endfor %}
    </p>
    {% if not app.user.userClass.canSetVisibleBy %}
        <div class="alert alert-secondary">
            {{ 'Beccause of your user class'|trans }} <span class="badge badge-primary">{{ app.user.userClass.name }}</span>,
            {{ 'you cannot change this setting'|trans }}.
        </div>
    {% endif %}

    {{ form_row(form.visibleBy) }}
</fieldset>

<fieldset class="p-3 border border-secondary rounded mb-3">
    <h4>{{ 'contact method'|trans|capitalize }}</h4>

    {{ form_row(form.interestedMethod) }}

</fieldset>

<fieldset class="p-3 border border-secondary rounded mb-3">
    <h4>{{ 'location'|trans|capitalize }}</h4>
    <p>
        {{ 'You can specify a location for this sharable. This will place your sharable on the map.'|trans }}
    </p>
    <div class="row">
        <div class="col-sm-4">
            {{ form_row(form.latitude) }}
        </div>
        <div class="col-sm-4">
            {{ form_row(form.longitude) }}
        </div>
        <div class="col-sm-4">
            {{ form_row(form.radius) }}
        </div>
    </div>
</fieldset>

<fieldset class="p-3 border border-secondary rounded mb-3">
    <h4>{{ 'date and time'|trans|capitalize }}</h4>

    <div class="row">
        <div class="col-sm-6">
            {{ form_row(form.beginAt) }}
        </div>
        <div class="col-sm-6">
            {{ form_row(form.endAt) }}
        </div>
    </div>
</fieldset>

{{ form_end(form) }}
