{% extends 'base.html.twig' %}
{% import "macros/contact_method.html.twig" as contact_method %}
{% import "macros/user.html.twig" as userMacro %}

{% block title %}{{ 'sharables'|trans|capitalize }}{% endblock %}

{% block content %}

<div class="row">

    <div class="col-md-3">

        {% if is_granted('create', sharable) %}
        <a class="btn btn-success btn-lg btn-block mb-3" href="{{ path('sharable_new') }}">
            <i class="fas fa-plus-circle"></i>
            {{ 'create new sharable'|trans }}
        </a>
        {% endif %}

        
        {{ form_start(searchForm) }}
            {{ form_row(searchForm.query) }}
            {{ form_row(searchForm.disabled) }}

            <h5>Tags</h5>
            {{ form_row(searchForm.tags) }}

            <div class="d-none d-md-block">
                {{ form_row(searchForm.managedBy) }}
                {{ form_row(searchForm.bookmarkedBy) }}
                {{ form_row(searchForm.validatedBy) }}
                {{ form_row(searchForm.interestedBy) }}
                {{ form_row(searchForm.visibleBy) }}
            </div>

            <div class="row">
                <div class="col-sm-6">
                    {{ form_row(searchForm.sortBy) }}
                </div>
                <div class="col-sm-6">
                    {{ form_row(searchForm.order) }}
                </div>
            </div>
        {{ form_end(searchForm) }}

    </div>

    <div class="col-md-9">


        <div class="alert alert-info">
            {{ sharablesPagination.getTotalItemCount }} {{ 'sharables found'|trans }}
            {% if search.managedBy %}
            {{ 'managed by'|trans }} {{ userMacro.render(search.managedBy, 1) }}
            {% endif %}
            {% if search.validatedBy %}
            {{ 'validated by'|trans }} {{ userMacro.render(search.validatedBy, 1) }}
            {% endif %}
            {% if search.bookmarkedBy %}
            {{ 'bookmarked by'|trans }} {{ userMacro.render(search.bookmarkedBy, 1) }}
            {% endif %}
            {% if search.interestedBy %}
            {{ 'that interest'|trans }} {{ userMacro.render(search.interestedBy, 1) }}
            {% endif %}
            {% if search.visibleBy %}
            {{ 'visible by'|trans }} <a href="{{ path('userclass_show', {id: search.visibleBy.id}) }}" class="badge bg-primary">{{ search.visibleBy }}</a>
            {% endif %}
            {% if search.disabled %}
            {{ 'including'|trans }} <span class="badge bg-danger"><i class="fas fa-ban"></i> {{ 'disabled'|trans }}</span>
            {% endif %}
        </div>

        {% if not app.user.userclass.access %}
        <div class="alert alert-warning">
            {{ 'Your user class:'|trans }}
            <a class="badge bg-primary" href="{{ path('userclass_show', {id: app.user.userClass.id}) }}">
                {{ app.user.userClass.name }}
            </a>
            {{ 'cannot access sharable'|trans }}.
            {{ 'You can only see sharable that have specified access from lower or equal user class'|trans }}.
        </div>
        {% endif %}



        {% for sharable in sharablesPagination %}

            {% set border = '' %}
            {% if sharable in managedSharables %}
                {% set border = 'border-primary' %}
            {% elseif sharable in validatedSharables %}
                {% set border = 'border-success' %}
            {% elseif sharable in interestedSharables %}
                {% set border = 'border-warning' %}
            {% elseif sharable in bookmarkedSharables %}
                {% set border = 'border-light' %}
            {% endif %}


            <div class="card {{ border }} mb-3">
                <div
                    class="card-header d-flex justify-content-between align-items-center bg-image"
                    {% if sharable.cover %}
                        style="
                            background-image:  linear-gradient(to right, rgba(0, 0, 0, 0.692), rgba(0, 0, 0, 0.233)), url('{{ asset(sharable.getCoverPath)|imagine_filter('cover_823')}}');
                            background-size: cover;
                            background-position: center;
                            height: 100px;
                            width: 100%;
                        "
                    {% endif %}
                >
                <span>                    
                  
                    <h4>
                        <strong>
                            <a {{ sharable.cover ? 'class="text-white"' : '' }} href="{{ path('sharable_show', {id: sharable.id}) }}">
                                {{ sharable.name }}
                            </a>
                            {% if sharable in bookmarkedSharables %}
                            <small class="text-muted" title="You have bookmarked this sharable">
                                <i class="fas fa-bookmark"></i>
                            </small>
                            {% endif %}
                        </strong>
                    </h4>
                    <h5>
                        {{ contact_method.render(sharable.interestedMethod) }}

                        {% if sharable.interesteds|length > 0 %}
                        <span title="{{ sharable.interesteds|length }} user(s) are insterested in this sharable" class="badge bg-warning">
                            {{ sharable.interesteds|length }}
                            <i class="fas fa-question-circle"></i>
                        </span>
                        {% endif %}
                        {% if sharable.validations|length > 0 %}
                        <span title="{{ sharable.validations|length }} user(s) have validated this sharable" class="badge bg-success">
                            {{ sharable.validations|length }}
                            <i class="fas fa-check-circle"></i></span>
                        {% endif %}
                        {% if sharable.questions|length > 0 %}
                            <span class="badge bg-light">
                                {{ sharable.questions|length }}
                                <i class="fas fa-comment"></i>
                            </span>
                        {% endif %}
                        {% if sharable.visibleBy %}
                        <span title="accessible from {{ sharable.visibleBy.name }}" class="badge bg-primary">
                            ≥ {{ sharable.visibleBy.name }}
                        </span>
                        {% endif %}
                        {% if sharable.disabled or not sharable.isAccessible %}
                        <span class="badge bg-danger" title="This sharable is disabled"><i class="fas fa-ban"></i></span>
                        {% endif %}
                        {% if sharable.reports|length > 0 and is_granted('view_reports', sharable) %}
                        <span
                            class="badge"
                            title="{{ sharable.reports|length ~ ' ' ~ 'user(s) have reported this sharable'|trans }}"
                        >
                            {{ sharable.reports|length }}
                            <i class="fas fa-flag"></i>
                        </span>
                        {% endif %}

                        {% if sharable.beginAt %}
                            <small title="begin at {{ sharable.beginAt|format_datetime }}" class="text-muted">
                                {% if sharable.beginAt > date() %}
                                <i class="fas fa-clock"></i>
                                {{ 'begin in'|trans }} {{ sharable.beginAt|ago }}
                                {% elseif not sharable.endAt %}
                                <i class="fas fa-clock"></i>
                                {{ 'has begun'|trans }} {{ sharable.beginAt|ago }}
                                {% endif %}
                            </small>
                        {% endif %}

                        {% if sharable.endAt and ( not sharable.beginAt or sharable.beginAt < date() ) %}
                            <small title="end at {{ sharable.endAt|format_datetime }}" class="text-muted">
                                {% if sharable.endAt < date() %}
                                <span class="text-danger">
                                    <i class="fas fa-flag-checkered"></i>
                                    {{ 'end date is passed'|trans }}
                                </span>
                                {% else %}
                                <i class="fas fa-hourglass"></i>
                                {{ 'end in'|trans }} {{ sharable.endAt|ago }}
                                {% endif %}
                            </small>
                        {% endif %}
                    </h5>
                </span>
                {% if is_granted('edit', sharable) %}
                <div class="dropleft show">
                    <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-cog"></i>
                    </a>
                  
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="{{ path('sharable_edit', {id: sharable.id}) }}">
                            <i class="fas fa-pen"></i>
                            {{ 'edit'|trans }}
                        </a>
                        {% if is_granted('interested', sharable) %}
                        <a class="dropdown-item bg-warning" href="{{ path('sharable_interested', {id: sharable.id}) }}">
                            <i class="fas fa-eye"></i>
                            {{ 'see interesteds'|trans }}
                        </a>
                        {% endif %}
                        <a class="dropdown-item" href="{{ path('sharable_managers', {id: sharable.id}) }}">
                            <i class="fas fa-user-edit"></i>
                            {{ 'edit managers'|trans }}
                        </a>
                    </div>
                </div>
                {% endif %}
            </div>


            <div class="card-body">


                
                <p class="card-subtitle mb-2">
                    <span class="text-muted">
                        {{ sharable.description }}
                    </span>
                    {% for tag in sharable.tags %}
                        <a class="badge rounded-pill bg-secondary" href="{{ path('sharable', {'tags[]': tag.id}) }}">{{ tag.name }}</a>
                    {% endfor %}
                    </br>
                    {{ 'managed by'|trans|capitalize }}
                        {% for manage in sharable.getConfirmedManagers %}
                            {% if manage.anonymous %}
                                <em class="text-muted">{{ 'anonymous'|trans }}</em>
                            {% else %}
                                {{ userMacro.render(manage.user, 1) }}
                            {% endif %}
                                {% if not loop.index == loop.last %}
                                    {% if loop.index == (loop.length - 1) %}
                                    {{ 'and'|trans }}
                                    {% else %}
                                    ,
                                    {% endif %}
                                {% endif %}
                        {% endfor %}
                </p>

                <small title="{{ sharable.createdAt|format_datetime }}" class="text-muted">
                    {{ 'created'|trans }} {{ sharable.createdAt|ago }}
                </small>
            </div>

        </div>



        {% endfor %}

        <div class="navigation">
            {{ knp_pagination_render(sharablesPagination) }}
        </div>

    </div>

</div>



{% endblock %}