{% extends 'base.html.twig' %}

{% block title %}Sharables{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/assets/css/search.css">
{% endblock %}

{% block content %}




{% if is_granted('create', sharable) %}<a class="btn btn-success btn-lg btn-block mb-3" href="{{ path('sharable_new') }}">create new sharable</a> {% endif %}


{{ form(form) }}


<div class="alert alert-info">
{{ total }} sharables founded
</div>



{% for sharable in sharables %}


    <div class="card{{ sharable in validatedSharables ? ' border-success' }} mb-3">
        <div class="card-header">
        <h5 class="card-title">
        {{ sharable.name }}
        {% if sharable.validations|length > 0 %}
        <span title="" class="badge badge-success">{{ sharable.validations|length }} validations</span>
        {% endif %}
        {% if sharable.visibleBy %}
        <span title="accessible by {{ sharable.visibleBy.name }}" class="badge badge-warning">{{ sharable.visibleBy.name }}</span>
        {% endif %}
        {% if app.user in sharable.managedBy %}
        <span title="you manage this sharable" class="badge badge-info">managed by you</span>
        {% endif %}
        {% if sharable.disabled %}
        <span title="this sharable is disabled" class="badge badge-dark">disabled</span>
        {% endif %}
        </h5>
        
        </div>


        <div class="card-body">


        
        <p class="card-subtitle mb-2 text-muted">{{ sharable.description }}</p>
        <a class="btn btn-primary" href="{{ path('sharable_show', {id: sharable.id}) }}">details</a>

        </div>

    </div>



{% endfor %}






{% endblock %}