{% extends 'base.html.twig' %}
{% import "macros/contact_method.html.twig" as contact_method %}
{% import "macros/user.html.twig" as userMacro %}

{% block title %}Sharables{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/assets/css/search.css">
{% endblock %}

{% block content %}

<div class="row">

    <div class="col-md-3">

        {% if is_granted('create', sharable) %}
        <a class="btn btn-success btn-lg btn-block mb-3" href="{{ path('sharable_new') }}"><i class="fas fa-plus-circle"></i> create new sharable</a>
        {% endif %}

        {{ form(form) }}

    </div>

    <div class="col-md-9">


        <div class="alert alert-info">
            {{ total }} sharables found
        </div>
        {% if not app.user.userclass.access %}
        <div class="alert alert-warning">
            Your user class:
            <a class="badge badge-primary" href="{{ path('userclass_show', {id: app.user.userClass.id}) }}">
                {{ app.user.userClass.name }}
            </a>
            cannot access sharable.
            You can only see sharable that have specified access from lower or equal user class.
        </div>
        {% endif %}



        {% for sharable in sharables %}

            {% set border = '' %}
            {% if sharable in managedSharables %}
                {% set border = 'border-primary' %}
            {% elseif sharable in validatedSharables %}
                {% set border = 'border-success' %}
            {% elseif sharable in interestedSharables %}
                {% set border = 'border-warning' %}
            {% endif %}


            <div class="card {{ border }} mb-3">
                <div
                    class="card-header d-flex justify-content-between align-items-center bg-image"
                    {% if sharable.cover %}
                        style="
                            background-image:  linear-gradient(to right, rgba(0, 0, 0, 0.692), rgba(0, 0, 0, 0.233)), url('{{ asset(sharable.getCoverPath)|imagine_filter('cover_823')}}');
                            background-size: cover;
                            background-position: center;
                            height: 100px;
                            width: 100%;
                        "
                    {% endif %}
                >
                <span>                    
                  
                    <h4>
                        <strong>
                            <a class="text-white" href="{{ path('sharable_show', {id: sharable.id}) }}">
                                {{ sharable.name }}
                            </a>
                        </strong>
                    </h4>
                    <h5>
                        {{ contact_method.render(sharable.interestedMethod) }}

                        {% if sharable.interesteds|length > 0 %}
                        <span title="{{ sharable.interesteds|length }} users are insterested in this sharable" class="badge badge-warning">
                            {{ sharable.interesteds|length }}
                            <i class="fas fa-question-circle"></i>
                        </span>
                        {% endif %}
                        {% if sharable.validations|length > 0 %}
                        <span title="{{ sharable.validations|length }} users have validated this sharable" class="badge badge-success">
                            {{ sharable.validations|length }}
                            <i class="fas fa-check-circle"></i></span>
                        {% endif %}
                        {% if sharable.visibleBy %}
                        <span title="accessible from {{ sharable.visibleBy.name }}" class="badge badge-primary">
                            ≥ {{ sharable.visibleBy.name }}
                        </span>
                        {% endif %}
                        {% if sharable.disabled or not sharable.isAccessible %}
                        <span class="badge badge-danger" title="This sharable is disabled"><i class="fas fa-ban"></i></span>
                        {% endif %}

                        {% if sharable.beginAt %}
                            <small title="begin at {{ sharable.beginAt|format_datetime }}" class="text-muted">
                                {% if sharable.beginAt > date() %}
                                <i class="fas fa-clock"></i>
                                begin in {{ sharable.beginAt|ago }}
                                {% elseif not sharable.endAt %}
                                <i class="fas fa-clock"></i>
                                has begun {{ sharable.beginAt|ago }}
                                {% endif %}
                            </small>
                        {% endif %}

                        {% if sharable.endAt and ( not sharable.beginAt or sharable.beginAt < date() ) %}
                            <small title="end at {{ sharable.endAt|format_datetime }}" class="text-muted">
                                {% if sharable.endAt < date() %}
                                <span class="text-danger">
                                    <i class="fas fa-flag-checkered"></i>
                                    end date is passed
                                </span>
                                {% else %}
                                <i class="fas fa-hourglass"></i>
                                end in {{ sharable.endAt|ago }}
                                {% endif %}
                            </small>
                        {% endif %}
                    </h5>
                </span>
            
                <div class="btn-group">
                    {% if is_granted('edit', sharable) %}
                    <a class="btn btn-primary" href="{{ path('sharable_edit', {id: sharable.id}) }}">
                        <i class="fas fa-pen"></i>
                    </a>
                    {% endif %}
                </div>
            </div>


            <div class="card-body">


                
                <p class="card-subtitle mb-2">
                    <span class="text-muted">
                        {{ sharable.description }}
                    </span>
                    {% for tag in sharable.tags %}
                        <a class="badge badge-pill badge-secondary" href="{{ path('sharable', {'tags[]': tag.id}) }}">{{ tag.name }}</a>
                    {% endfor %}
                    </br>
                        Managed by
                        {% for manage in sharable.getConfirmedManagers %}
                            {% if manage.anonymous %}
                                <em class="text-muted">anonymous</em>
                            {% else %}
                                {{ userMacro.render(manage.user, 1) }}
                            {% endif %}
                                {% if not loop.index == loop.last %}
                                    {% if loop.index == (loop.length - 1) %}
                                    and
                                    {% else %}
                                    ,
                                    {% endif %}
                                {% endif %}
                        {% endfor %}
                </p>

                <small title="{{ sharable.createdAt|format_datetime }}" class="text-muted">
                    created {{ sharable.createdAt|ago }}
                </small>
            </div>

        </div>



        {% endfor %}


    </div>

</div>



{% endblock %}