{% extends 'base.html.twig' %}

{% block title %}Sharables{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/css/search.css">
{% endblock %}

{% block content %}




{% if is_granted('create', sharable) %}<a class="btn btn-success btn-lg btn-block" href="{{ path('sharable_new') }}">create new sharable</a> {% endif %}

<hr>

{{ form(form) }}

<div class="alert alert-info">
{{ total }} sharables founded
</div>

<ul>
{% for sharable in sharables %}

<li>

<h2>{{ sharable.name }}</h2>
<p>{{ sharable.description }}</p>
<a class="btn btn-light" href="{{ path('sharable_show', {id: sharable.id}) }}">details</a>

</li>

{% endfor %}
</ul>





{% endblock %}