{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
crossorigin=""/>
{% endblock %}

{% import 'macros/breadcrumbs.html.twig' as breadcrumbs %}
{% import "macros/contact_method.html.twig" as contact_method %}
{% import "macros/user.html.twig" as userMacro %}
{% import "macros/sharable.html.twig" as sharableMacro %}

{% block title %}Map of sharables{% endblock %}

{% block content %}

{{ breadcrumbs.render([
    {'url': url('sharable'), 'text': 'sharables'|trans|capitalize },
    {'text': 'Map'},
]) }}

<div id="map" style="height: 500px;"></div>

{% endblock %}


{% block javascripts %}
 <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin="">
</script>
<script src="https://unpkg.com/Leaflet.Deflate/dist/L.Deflate.js"></script>

<script>

    var map = L.map('map').setView([51.505, -0.09], 5);


    const features = L.deflate({minSize: 25})
    features.addTo(map);
    
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);


    {% for sharable in sharables %}
        {% if sharable.radius %}
            var circle{{ sharable.id }} = L.circle([{{ sharable.latitude|number_format(3, '.') }}, {{ sharable.longitude|number_format(3, '.') }}], {
                color: 'red',
                fillColor: '#f03',
                fillOpacity: 0.5,
                radius: {{ sharable.radius }}
            }).addTo(map)
            .bindPopup('<a href="{{ path('sharable_show', {id: sharable.id}) }}">{{ sharable.name }}</a>')
            .addTo(features);
        {% else %}
            L.marker([{{ sharable.latitude }}, {{ sharable.longitude }}]).addTo(map)
            .bindPopup('<a href="{{ path('sharable_show', {id: sharable.id}) }}">{{ sharable.name }}</a>')
            .openPopup();
        {% endif %}
    {% endfor %}
</script>


{% endblock %}