{% extends 'base.html.twig' %}


{% block title %}new sharable{% endblock %}

{% block content %}

{% import 'macros/breadcrumbs.html.twig' as breadcrumbs %}

{{ breadcrumbs.render([
    {'url': url('sharable'), 'text': 'Sharables'},
    {'text': 'Create new'},
]) }}

<h1>Create new sharable</h1>

<p>
    Before creating a sharable, make sure you have read the <a target="_blank" href="{{ path('rule_index') }}">rules</a>.
</p>

{% include "sharable/form.html.twig" %}

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-markdown/2.10.0/css/bootstrap-markdown.min.css" integrity="sha512-CUHPfvm73R8lgOyl0oyhnGfM5RlGV7yRyj98ZeX3/cBsLLuSVRaqKHhahj6B04H3Q63jZcQHHZZXIonj03eUzQ==" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ asset('/bootstrap-markdown.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('/bootstrap-file.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-markdown/2.10.0/js/bootstrap-markdown.min.js" integrity="sha512-24rJoYUaUxwg8u20GPTT7kfEdhhx2rksnoRssbLLC73nWrifdvCqX0vVrGFqz3635DMvjeXeE1aCUXDtqHh2DQ==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/2.0.1/marked.min.js" integrity="sha512-pjhyz9DR7D4w90mc3iiAjhSRSmVrF3egxvfbOO6948qG0GACeOVpnP+xWEm7ihN5m1rg8tEHKRBhRrYEGhIR6Q==" crossorigin="anonymous"></script>
{% endblock %}
