{% extends 'base.html.twig' %}


{% block title %}{{ sharable.name }}{% endblock %}



{% block content %}

{% import 'macros/breadcrumbs.html.twig' as breadcrumbs %}

{{ breadcrumbs.render([
    {'url': url('sharable'), 'text': 'Sharables'},
    {'text': sharable.name},
]) }}

<div class="container-fluid p-0">

    {% if manage %}
        <div class="alert alert-primary">You are managing this Sharable.</div>
    {% elseif validated %}
        <div class="alert alert-success">You have validated this Sharable.</div>
    {% elseif interested %}
        <div class="alert alert-danger">
            You are interested in this Sharable.
            {% if sharable.interestedMethod == 3 %}
                {{ interested.reviewed ? 'Managers are now sharing contact infos with you.' : 'You need to wait for managers approval before accessing contact infos' }}
            {% endif %}
        </div>
    {% endif %}

    {% if sharable.disabled %}
        <div class="alert alert-dark">This sharable is disabled.</div>
    {% endif %}

    <h1>
    {{ sharable.name }}

    </h1>

    <p>{{ sharable.description }}</p>

    <div class="btn-group mb-3">
            
        {% if is_granted('edit', sharable) %}
        <a class="btn btn-primary" href="{{ path('sharable_edit', {id: sharable.id}) }}">edit</a>
        {% endif %}
        {% if is_granted('contact', sharable) %}
        <a class="btn btn-primary" href="{{ path('sharable_contact', {id: sharable.id}) }}">contacts</a>
        {% endif %}
        {% if is_granted('interested', sharable) %}
        <a class="btn btn-primary" href="{{ path('sharable_interested', {id: sharable.id}) }}">view interested</a>
        {% endif %}  
        {% if is_granted('interest', sharable) %}
        <a class="btn btn-danger" href="{{ path('sharable_interest', {id: sharable.id}) }}">interested</a>
        {% endif %}
        {% if is_granted('validate', sharable) %}
        <a class="btn btn-success" href="{{ path('sharable_validate', {id: sharable.id}) }}">validate</a>
        {% endif %}


    </div>

</div>

<div class="row">

    <div class="col-lg-8">

        <div class="card mb-3">

            <div class="card-header">

                <div class="card-title">
                    <h4>
                    Details
                    </h4>

                </div>
            </div>

            <div class="card-body">

                <div id="description">
                {{ sharable.details|markdown_to_html }}
                </div>
            </div>
        </div>

    </div>

    <div class="col-lg-4">

        <div class="card mb-3">

            <div class="card-header">

                <div class="card-title">
                    <h4>Infos</h4>
                </div>
            </div>

            <div class="card-body">

                <ul class="list-group list-group-flush">
                    <li class="list-group-item list-group-item-success">
                        {{ sharable.validations|length }} validations
                    </li>
                    {% if sharable.interestedmethod > 1 %}
                    <li class="list-group-item list-group-item-danger">
                        {{ sharable.interesteds|length }} interested
                    </li>
                    {% endif %}
                    <li class="list-group-item">
                        contact method : {{ sharable.interestedMethod }}
                    </li>
                    <li class="list-group-item">
                        created {{ sharable.createdAt|ago }}
                    </li>
                    <li class="list-group-item">
                        last Edited {{ sharable.lastEditedAt|ago }}
                    </li>
                    {% if sharable.beginAt %}
                    <li class="list-group-item">
                        begin {{ sharable.beginAt|ago }}
                    </li>
                    {% endif %}
                    {% if sharable.endAt %}
                    <li class="list-group-item">
                        end {{ sharable.endAt|ago }}
                    </li>
                    {% endif %}
                    <li class="list-group-item">
                    {% if sharable.responsibility %}
                        managers are responsable of this
                    {% else %}
                        managers do not take responsibility for this
                    {% endif %}
                    </li>

                    {% if sharable.disabled %}
                    <li class="list-group-item list-group-item-dark">
                        disabled
                    </li>
                    {% endif %}
                </ul>

            </div>
        </div>




        <div class="card mb-3">

            <div class="card-header">

                <div class="card-title">
                    <h4>Managed by</h4>
                </div>
            </div>

            <div class="card-body">

                <ul>
                {% for manage in sharable.managedby %}

                <li>


                <a href="{{ path('user_show', {id: manage.user.id} ) }}">{{ manage.user.username }}</a>


                </li>

                {% endfor %}
                </ul>


                {% if is_granted('edit', sharable) %}
                <a class="btn btn-primary" href="{{ path('sharable_managers', {id: sharable.id}) }}">add managers</a>
                {% endif %}

            </div>
        </div>



        <div class="card mb-3">

            <div class="card-header">

                <div class="card-title">
                    <h4>Validations</h4>
                </div>
            </div>

            <div class="card-body">

                <ul>
                {% for validation in sharable.validations %}

                <li>

                <a href="{{ path('user_show', {id: validation.user.id} ) }}">{{ validation.user.username }}</a> <small>{{ validation.sendAt|ago }}</small>

                </li>

                {% endfor %}
                </ul>

                <a href="{{ path('sharable_validation', {id: sharable.id}) }}" class="btn btn-primary">view validations</a>

            </div>
        </div>
    </div>
</div>



{% endblock %}