{% extends 'base.html.twig' %}
{% import 'macros/breadcrumbs.html.twig' as breadcrumbs %}
{% import "macros/user.html.twig" as userMacro %}
{% import "macros/contact_method.html.twig" as contact_method %}


{% block title %}{{ sharable.name }}{% endblock %}



{% block content %}


{{ breadcrumbs.render([
    {'url': url('sharable'), 'text': 'Sharables'},
    {'text': sharable.name},
]) }}

<div class="container-fluid p-0">

    {% if manage %}
        <div class="alert alert-primary"><i class="fas fa-wrench"></i>
        {% if manage.confirmed %}
            You are managing this Sharable.
            {% else %}
            You've been invited to manage this Sharable.

            <div class="btn-group">
                <a class="btn btn-secondary" href="{{ path('manage_confirm', {id: manage.id}) }}"><i class="fas fa-check"></i> confirm</a>
                <a class="btn btn-secondary" href="{{ path('manage_remove', {id: manage.id}) }}"><i class="fas fa-times"></i> refuse</a>
            </div>
        {% endif %}
        </div>
    {% elseif validated %}
        <div class="alert alert-success"><i class="fas fa-check-circle"></i> You have validated this Sharable.</div>
    {% elseif interested %}
        <div class="alert alert-warning">
            <i class="fas fa-question-circle"></i>
            You are interested in this Sharable.
            {% if sharable.interestedMethod == 3 %}
                {{ interested.reviewed ? 'Managers are now sharing contact infos with you.' : 'You need to wait for managers approval before accessing contact infos' }}
            {% endif %}
        </div>
    {% endif %}

    {% if sharable.disabled %}
        <div class="alert alert-danger">
            <i class="fas fa-ban"></i> This sharable is disabled.
            {% if is_granted('edit', sharable) and sharable.disabled %}
                <a href="{{ path('sharable_activation', {id: sharable.id}) }}">Activate it !</a>
            {% endif %}
        </div>
    {% endif %}
    {% if not sharable.isAccessible %}
        <div class="alert alert-danger">
            <i class="fas fa-ban"></i> This sharable is not accessible beccause every managers are disabled.
        </div>
    {% endif %}

    <div
        class="bg-image mb-3 p-3 rounded"
        {% if sharable.cover %}
            style="
                background-image:  linear-gradient(to right, rgba(0, 0, 0, 0.692), rgba(0, 0, 0, 0.233)), url('{{ asset(sharable.getCoverPath)|imagine_filter('cover_1140') }}');
                background-size: cover;
                background-position: center;
                width: 100%;
            "
        {% endif %}
    >

        <h1>
            {{ sharable.name }}
        </h1>

        {% for tag in sharable.tags %}
            <a class="badge badge-pill badge-secondary" href="{{ path('sharable', {'tags[]': tag.id}) }}">{{ tag.name }}</a>
        {% endfor %}

        <p>{{ sharable.description }}</p>

        <div class="btn-group mb-3">
                
            {% if is_granted('edit', sharable) %}
            <a class="btn btn-primary" href="{{ path('sharable_edit', {id: sharable.id}) }}"><i class="fas fa-pen"></i> edit</a>
            {% endif %}
            {% if is_granted('contact', sharable) %}
            <a class="btn btn-primary" href="{{ path('sharable_contact', {id: sharable.id}) }}"><i class="fas fa-address-book"></i> contacts</a>
            {% endif %}
            {% if is_granted('interested', sharable) %}
            <a class="btn btn-warning" href="{{ path('sharable_interested', {id: sharable.id}) }}"><i class="fas fa-eye"></i> view interested</a>
            {% endif %}  
            {% if is_granted('interest', sharable) %}
            <a class="btn btn-warning" href="{{ path('sharable_interest', {id: sharable.id}) }}"><i class="fas fa-question-circle"></i> interested</a>
            {% endif %}
            {% if is_granted('validate', sharable) %}
            <a class="btn btn-success" href="{{ path('sharable_validate', {id: sharable.id}) }}"><i class="fas fa-check-circle"></i> validate</a>
            {% endif %}            
            {% if is_granted('edit', sharable) and not sharable.getDisabled %}
            <a class="btn btn-danger" href="{{ path('sharable_activation', {id: sharable.id}) }}"><i class="fas fa-times-circle"></i> disable</a>
            {% endif %}

        </div>

    </div>

</div>

<div class="row">

    <div class="col-lg-8">

        <div class="card mb-3">

            <div class="card-header">

                <div class="card-title">
                    <h4>
                    Details
                    </h4>

                </div>
            </div>

            <div class="card-body">

                <style>
                    #description img { max-width: 100%; }               
                </style>

                <div id="description">
                {{ sharable.details|markdown_to_html }}
                </div>
            </div>
        </div>

    </div>

    <div class="col-lg-4">

        <div class="card mb-3">

            <div class="card-header">

                <div class="card-title">
                    <h4>Infos</h4>
                </div>
            </div>

            <div class="card-body">

                <ul class="list-group list-group-flush">
                    <li class="list-group-item list-group-item-success">
                        <i class="fas fa-check-circle"></i>
                        {{ sharable.validations|length }} validations
                    </li>
                    {% if sharable.interestedmethod > 1 %}
                    <li class="list-group-item list-group-item-warning">
                        <i class="fas fa-question-circle"></i>
                        {{ sharable.interesteds|length }} interested
                    </li>
                    {% endif %}
                    {% if sharable.visibleBy %}
                    <li class="list-group-item">
                        <i class="fas fa-eye"></i>
                        Visible by
                        <a href="{{ path('userclass_show', {id: sharable.visibleBy.id}) }}" class="badge badge-primary">
                            {{ sharable.visibleBy.name }}
                        </a>
                    </li>
                    {% endif %}
                    <li class="list-group-item">
                        <i class="fas fa-address-book"></i>
                        Contact method:
                        {{ sharable.interestedMethod }}
                        {{ contact_method.render( sharable.interestedMethod ) }}
                    </li>
                    <li class="list-group-item">
                        <i class="fas fa-plus-circle"></i>
                        created {{ sharable.createdAt|ago }}
                    </li>
                    <li class="list-group-item">
                        <i class="fas fa-clock"></i>
                        last edited {{ sharable.lastEditedAt|ago }}
                    </li>
                    {% if sharable.beginAt %}
                    <li class="list-group-item">
                        <i class="fas fa-play"></i>
                        begin {{ sharable.beginAt|ago }}
                    </li>
                    {% endif %}
                    {% if sharable.beginAt and sharable.endAt and date(sharable.beginAt) > date() %}
                    <li class="list-group-item">
                        <i class="fas fa-stopwatch"></i>
                        last {{ sharable.endAt.diff(sharable.beginAt)|date() }}
                    </li>
                    {% elseif sharable.endAt %}
                    <li class="list-group-item">
                        <i class="fas fa-stop"></i>
                        end {{ sharable.endAt|ago }}
                    </li>
                    {% endif %}
                    {% if sharable.disabled %}
                    <li class="list-group-item list-group-item-danger">
                        <i class="fas fa-ban"></i>
                        disabled
                    </li>
                    {% endif %}
                </ul>

            </div>
        </div>




        <div class="card mb-3">

            <div class="card-header">

                <div class="card-title">
                    <h4>Managed by</h4>
                </div>
            </div>

            <div class="card-body">

                <ul class="list-group list-group-flush">
                {% for manage in sharable.getConfirmedManagers %}

                    <li class="list-group-item">
                        {{ userMacro.render(manage.user) }}
                    </li>

                {% endfor %}
                </ul>


                {% if is_granted('edit', sharable) %}
                <a class="btn btn-primary" href="{{ path('sharable_managers', {id: sharable.id}) }}">edit managers</a>
                {% endif %}

            </div>
        </div>



        <div class="card mb-3">

            <div class="card-header">

                <div class="card-title">
                    <h4>Validations</h4>
                </div>
            </div>

            <div class="card-body">

                <ul class="list-group list-group-flush">
                {% for validation in sharable.validations %}

                    <li class="list-group-item">

                        {{ userMacro.render(validation.user) }}

                    </li>

                {% endfor %}
                </ul>

                <a href="{{ path('sharable_validation', {id: sharable.id}) }}" class="btn btn-primary">view validations</a>

            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-6">

        <h3>Validation messages received</h3>

    {% for validation in sharable.validations|reverse %}

    {% if validation.message %}
    
    <div class="card mt-3">
        <div class="card-header d-flex justify-content-between align-items-center">
            
            <h5 class="card-title">By
                {{ userMacro.render(validation.user) }}
            </h5>
            <small class="text-muted">
                {{ validation.sendAt|ago }}
            </small>
        </div>
        <div class="card-body bg-success">
            
            <p>{{ validation.message }}</p>
            
            
            
        </div>
        
        
    </div>
    {% endif %}

    {% endfor %}

    </div>
</div>

{% endblock %}