{% extends 'base.html.twig' %}


{% block title %}{{ sharable.name }}{% endblock %}



{% block content %}

<a href="{{ path('sharable') }}">sharables</a> > {{ sharable.name }}

<hr>

<h1>{{ sharable.name }}</h1>

<p>{{ sharable.description }}</p>

<ul>
    <li>
        Validations : {{ sharable.validations|length }}
    </li>
    <li>
        Created : {{ sharable.createdAt|format_datetime('short', 'short', locale='fr') }}
    </li>
    <li>
        Last Edited : {{ sharable.lastEditedAt|format_datetime('short', 'short', locale='fr') }}
    </li>
    {% if sharable.beginAt %}
    <li>
        Begin : {{ sharable.beginAt|format_datetime('short', 'short', locale='fr') }}
    </li>
    {% endif %}
    {% if sharable.endAt %}
    <li>
        End : {{ sharable.endAt|format_datetime('short', 'short', locale='fr') }}
    <li>
    {% endif %}
    <li>
    {% if sharable.responsibility %}
        Managers are responsable of this
    {% else %}
        Managers does not take responsibility for this
    {% endif %}
    </li>

    {% if sharable.disabled %}
    <li>
        This Sharable is <strong>disabled</strong> for now
    </li>
    {% endif %}
</ul>



<h3>Details :</h3>

<div id="description">
{{ sharable.details|markdown_to_html }}
</div>


{% if is_granted('validate', sharable) %}
<a class="btn btn-success" href="{{ path('sharable_validate', {id: sharable.id}) }}">validate</a>
{% endif %}

{% if is_granted('edit', sharable) %}
<a class="btn btn-primary" href="{{ path('sharable_edit', {id: sharable.id}) }}">edit</a>
<a class="btn btn-primary" href="{{ path('sharable_managers', {id: sharable.id}) }}">managers</a>
{% endif %}


<h3>Managed by :</h3>

<ul>
{% for user in sharable.managedby %}

<li>


<a href="{{ path('user_show', {id: user.id} ) }}">{{ user.username }}</a>


</li>

{% endfor %}
</ul>



<h3>Validations :</h3>

<ul>
{% for validation in sharable.validations %}

<li>

<a href="{{ path('user_show', {id: validation.user.id} ) }}">{{ validation.user.username }}</a> : {{ validation.message }}

</li>

{% endfor %}
</ul>



{% endblock %}