{% extends 'base.html.twig' %}
{% import 'macros/breadcrumbs.html.twig' as breadcrumbs %}
{% import 'macros/user.html.twig' as userMacro %}


{% block title %}{{ sharable.name }} : Validations{% endblock %}



{% block content %}


{{ breadcrumbs.render([
    {'url': url('sharable'), 'text': 'Sharables'},
    {'url': url('sharable_show', {id: sharable.id}), 'text': sharable.name},
    {'text': 'Validations'},
]) }}

<div class="container-fluid p-0">

<h1>Validations</h1>


{% for validation in validations %}

<div class="card mt-3">




    <div class="card-body">

    <p>{{ validation.message }}</p>


        
    </div>

    <div class="card-footer d-flex justify-content-between align-items-center">

        <h5 class="card-title">By
            {{ userMacro.render(validation.user) }}
        <small>
            {{ validation.sendAt|ago }}
        </small>
        </h5>



        {% if is_granted('edit', sharable) %}
            <a class="btn btn-danger disabled" href="">report</a>
        {% endif %}
    </div>
</div>

{% endfor %}




</div>



{% endblock %}