{% extends 'base.html.twig' %}


{% block title %}{{ sharable.name }}{% endblock %}



{% block content %}

<a href="{{ path('sharable') }}">sharables</a> > <a href="{{ path('sharable_show', {id: sharable.id}) }}">{{ sharable.name }}</a> > validate

<hr>

<h1>{{ sharable.name }}</h1>

<h2>Validation</h2>

{{ form(form) }}



{% endblock %}