{% extends 'base.html.twig' %}
{% import 'macros/breadcrumbs.html.twig' as breadcrumbs %}
{% import 'macros/user.html.twig' as userMacro %}


{% block title %}{{ sharable.name }} : {{ 'validations'|trans|capitalize }}{% endblock %}



{% block content %}


{{ breadcrumbs.render([
    {'url': url('sharable'), 'text': 'sharables'|trans|capitalize },
    {'url': url('sharable_show', {id: sharable.id}), 'text': sharable.name},
    {'text': 'validations'|trans|capitalize },
]) }}

<div class="container-fluid p-0">

<h1>{{ 'validations'|trans|capitalize }}</h1>


{% for validation in validations %}

<div class="card mt-3">




    <div class="card-body">

    <p>{{ validation.message }}</p>


        
    </div>

    <div class="card-footer d-flex justify-content-between align-items-center">

        <h5 class="card-title">{{ 'by'|trans }}
            {{ userMacro.render(validation.user) }}
            <small>
                {{ validation.sendAt|ago }}
            </small>
        </h5>

        {% set reports = app.user.reports|filter((report) => report in validation.reports) %}
        {% if is_granted('report', validation) %}
            <a class="btn btn-danger" href="{{ path('validation_report_new', {id: validation.id}) }}">{{ 'report'|trans }}</a>
        {% elseif reports | length > 0 %}
            {% for report in reports %}
                <a
                    class="btn btn-danger"
                    href="{{ path('validation_report_show', {validation_id: validation.id, report_id: report.id}) }}"
                >
                    alredy reported
                </a>
            {% endfor %}
        {% endif %}
    </div>
</div>

{% endfor %}




</div>



{% endblock %}