<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ siteName }}{% endblock %}</title>
        <meta name="description" content="{% block description %}{{ siteDescription }}{% endblock %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/darkly/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
        {% block stylesheets %}
        {% endblock %}
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous" async></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous" async></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous" async></script>
    </head>
    <body>
        {% set route_name = app.request.attributes.get('_route') %}
        {% set route_param = app.request.attributes.get('_route_params')|join %}




            <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark border-bottom border-primary">

            <a class="navbar-brand" href="{{ path('app_homepage') }}">{{ siteName }}</a>


            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    {% if app.user %}
                    <ul class="navbar-nav mr-auto">


                        <li class="nav-item">
                            <a class="nav-link{{ route_name == 'sharable' ? ' active' }}" href="{{ path('sharable') }}">sharables</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarToolsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            tools
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarToolsDropdown">
                                <a class="dropdown-item{{ route_name == 'tag_index' ? ' active' }}" href="{{ path('tag_index') }}">tags</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link{{ route_name == 'user' ? ' active' }}" href="{{ path('user') }}">users</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link{{ route_name == 'userclass' ? ' active' }}" href="{{ path('userclass') }}">user classes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link{% if route_name == 'rule_index' %} active{% endif %}" href="{{ path('rule_index') }}">rules</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link{% if route_name == 'user_show' and route_param == app.user.id %} active{% endif %}" href="{{ path('user_show', {id: app.user.id} ) }}">{{ app.user.username }}</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarAccountDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            account
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarAccountDropdown">
                                <a class="dropdown-item{{ route_name == 'account_invitation' ? ' active' }}" href="{{ path('account_invitation') }}">invitation</a>
                                <a class="dropdown-item{{ route_name == 'account_settings' ? ' active' }}" href="{{ path('account_settings') }}">settings</a>
                            </div>
                        </li>

                    </ul>
                    {% endif %}

                    <ul class="navbar-nav ml-auto">

                        {% if app.user %}
                        <li class="nav-item">
                            <a class="nav-link d-flex" href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt"></i> logout</a>
                        </li>
                        {% else %}


                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_login') }}"><i class="fas fa-sign-in-alt"></i> login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('sign_up') }}"><i class="fas fa-user-plus"></i> sign up</a>
                        </li>

                        {% endif %}
                        
                    </ul>

            </div>

            </nav>
        <div class="container">
            <main class="container-fluid p-0 mt-3">

                {% if app.user and not app.user.disabled and app.user.userContacts is empty %}
                    <div class="alert alert-warning" >
                    <i class="fas fa-address-book"></i> You haven't set any <a href="{{ path('user_contact', {id: app.user.id}) }}">Contact Infos</a> yet, you won't be able to create sharables or access a lot of them.
                    </div>
                {% endif %}

                {% if app.user and not app.user.isVerified %}
                    <div class="alert alert-warning" >
                    <i class="fas fa-envelope"></i> You haven't verified your email adress. Checkout your <a href="{{ path('account_settings') }}">Account Settings</a> to send a new verification mail.
                    </div>
                {% endif %}

                {% if app.user and app.user.disabled %}
                    <div class="alert alert-danger" >
                    <i class="fas fa-ban"></i>
                    Your account is disabled.
                    </div>
                {% endif %}


                {# read and display all flash messages #}
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}

                {% block content %}{% endblock %}
            </main>
        </div>


        {% block footer %}
        <footer class="border-top border-primary mt-3">
            <p class="text-center text-muted mt-3">Made with <strong><i>Antilope</i></strong>. Follow the project, report bugs or share ideas on <a href="https://github.com/vincent-peugnet/antilope" target="_blank"><i class="fab fa-github"></i> Github</a>.
            </br>Join discussion on <strong>Matrix</strong>: <code>#antilope:club1.fr</code></p>
        </footer>
        {% endblock %}

        {% block javascripts %}{% endblock %}
    </body>
</html>
