<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ siteName }}{% endblock %}</title>
        <meta name="description" content="{% block description %}{{ siteDescription }}{% endblock %}">
        <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/darkly/bootstrap.min.css">
        {% block stylesheets %}
        {% endblock %}
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous" async></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous" async></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous" async></script>
    </head>
    <body>
        {% set route_name = app.request.attributes.get('_route') %}
        {% set route_param = app.request.attributes.get('_route_params')|join %}

        <div class="container">


            <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">

            <a class="navbar-brand" href="{{ path('app_homepage') }}">{{ siteName }}</a>


            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <ul class="navbar-nav mr-auto">

                        {% if app.user %}

                        <li class="nav-item">
                            <a class="nav-link{{ route_name == 'sharable' ? ' active' }}" href="{{ path('sharable') }}">sharables</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link{{ route_name == 'user' ? ' active' }}" href="{{ path('user') }}">users</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link{{ route_name == 'userclass' ? ' active' }}" href="{{ path('userclass') }}">user classes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link{% if route_name == 'user_show' and route_param == app.user.id %} active{% endif %}" href="{{ path('user_show', {id: app.user.id} ) }}">{{ app.user.username }}</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle{{ route_name == 'account_invitation' ? ' active' }}" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            account
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item{{ route_name == 'account_invitation' ? ' active' }}" href="{{ path('account_invitation') }}">invitation</a>
                                <a class="dropdown-item disabled">settings</a>
                            </div>
                        </li>

                    </ul>
                    <ul class="navbar-nav ml-auto">


                        {% if is_granted('ROLE_ADMIN') %}
                        <li>
                            <a class="nav-link" href="{{ path('easyadmin') }}">admin</a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link d-flex" href="{{ path('app_logout') }}">logout</a>
                        </li>

                        {% else %}

                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_login') }}">login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('sign_up') }}">sign up</a>
                        </li>

                        {% endif %}
                        
                    </ul>

            </div>

            </nav>

            <main class="container-fluid p-0 mt-3">

                {% if app.user and app.user.userContacts is empty %}
                    <div class="alert alert-warning" >
                    You haven't set any <a href="{{ path('user_contact', {id: app.user.id}) }}">Contact Infos</a> yet, you won't be able to create sharables or access a lot of them.
                    </div>
                {% endif %}

                {% block content %}{% endblock %}
            </main>
        </div>

        {% block javascripts %}{% endblock %}
    </body>
</html>
