<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav>
        {% if app.user %}

        <a href="{{ path('app_homepage') }}">[home]</a>
        <a href="{{ path('sharable') }}">[sharables]</a>
        <a href="{{ path('user') }}">[users]</a>
        <a href="{{ path('userclass') }}">[user classes]</a>
        <a href="{{ path('user_show', {id: app.user.id} ) }}">[profile]</a>
        <a href="">[account]</a>
        <a href="{{ path('app_logout') }}">[logout]</a>

        {% else %}

        <a href="{{ path('app_login') }}">[login]</a>

        {% endif %}

        </nav>
        <hr>
        <main>
        {% block content %}{% endblock %}
        </main>
        {% block javascripts %}{% endblock %}
    </body>
</html>
