{% extends 'base.html.twig' %}
{% import 'macros/breadcrumbs.html.twig' as breadcrumbs %}
{% import 'macros/content_by_type.html.twig' as content_by_type %}


{% block title %}{{ sharable.name }} : Validations{% endblock %}



{% block content %}


{{ breadcrumbs.render([
    {'url': url('sharable'), 'text': 'Sharables'},
    {'url': url('sharable_show', {id: sharable.id}), 'text': sharable.name},
    {'text': 'Interested users'},
]) }}

<div class="container-fluid p-0">

<h1>Interested users</h1>

<p>All those users are Interested in your sharable !</p>

{% if sharable.interestedMethod == 3 %}
<p>You need to allow them to see sharable's contact infos manually by using the <strong>review</strong> button.</p>
{% endif %}

{% if sharable.interestedMethod == 2 %}
<p>They can access sharable's contact infos.</p>
{% endif %}

{% for interested in interesteds %}

<div class="card mt-3">

    <div class="card-header d-flex justify-content-between align-items-center">

        <h5 class="card-title"><a href="{{ path('user_show', {id: interested.user.id}) }}">{{ interested.user.username }}</a>
            <span class="badge badge-light">{{ interested.user.shareScore }}</span>
            <span class="badge badge-warning">{{ interested.user.userClass.name }}</span>
        </h5>

        <small>
            {{ interested.createdAt|ago }}
        </small>


        {% if is_granted('interested', sharable) and sharable.interestedMethod == 3 and not interested.reviewed %}
            <a class="btn btn-primary" href="{{ path('interested_review', {id: interested.id}) }}">review</a>
        {% endif %}
    </div>

    <div class="card-body">

        <ul>
        {% for contact in interested.user.userContacts %}
            <li>
                {{ contact.type }} :
                {{ content_by_type.render(contact.type, contact.content) }}

            </li>
        {% endfor %}
        </ul>

        <a class="btn btn-primary" href="{{ path('user_contact', {id: interested.user.id}) }}">view detailed contact infos</a>


    </div>

</div>

{% endfor %}




</div>



{% endblock %}