{% extends "email/notification/base.html.twig" %}

{% block content %}

{{ 'Your interest on sharable:'|trans }}
<a href="{{ url('sharable_show', {id: sharable.id}) }}">{{ sharable.name }}</a>
{{ 'has been reviewed. You can now access the'|trans }} <a href="{{ url('sharable_contact', {id: sharable.id}) }}">{{ 'contact infos'|trans }}</a>.

{% endblock %}