{% extends "email/notification/base.html.twig" %}

{% block content %}

<p>
    {{ 'Your invitation code'|trans }}e <code>{{ invitation.code }}</code>
    {{ 'has been used by user:'|trans }}
    <a href="{{ url('user_show', {id: invitation.child.id}) }}">
        {{ invitation.child.username }}
    </a>.
</p>

{% endblock %}