{% extends 'base.html.twig' %}
{% import 'macros/breadcrumbs.html.twig' as breadcrumbs %}
{% import 'macros/user.html.twig' as userMacro %}


{% block title %}{{ sharable.name }}{% endblock %}

{% block content %}



{{ breadcrumbs.render([
    {'url': url('sharable'), 'text': 'sharables'|trans|capitalize },
    {'url': url('sharable_show', {id: sharable.id}), 'text': sharable.name},
    {'text': 'edit managers'|trans|capitalize},
]) }}

<div class="btn-group">

    {% if is_granted('remove', userManage) %}
    <a class="btn btn-danger" href="{{ path('manage_remove', {id: userManage.id }) }}">
        <i class="fas fa-times-circle"></i>
        {{ 'quit management'|trans }}
    </a>
    {% else %}
    <a class="btn btn-danger disabled">
        <i class="fas fa-times-circle"></i>
        {{ 'quit management'|trans }}
    </a>
    {% endif %}
    
    {% if is_granted('anonymous', userManage) %}
        <a class="btn btn-primary" href="{{ path('manage_anonymous', {id: userManage.id}) }}">
            <i class="fas fa-mask"></i>
            {{ 'become anonymous'|trans }}
        </a>
    {% elseif is_granted('onymous', userManage) %}
        <a class="btn btn-primary" href="{{ path('manage_onymous', {id: userManage.id}) }}"><i class="fas fa-mask"></i>
            {{ 'become onymous'|trans }}
        </a>
    {% endif %}
    
</div>

<h1>{{ 'managers'|trans|capitalize }}</h1>

<ul class="list-group">
{% for manage in sharable.managedBy %}
    <li class="list-group-item">

        {{ userMacro.render(manage.user) }}
        {% if not manage.confirmed %}
            <span class="badge bg-warning">{{ 'invited'|trans }}</span>
        {% endif %}
        {% if manage.anonymous %}
            <span class="badge bg-dark border">
                <i class="fas fa-mask"></i>
                {{ 'anonymous'|trans }}
            </span>
        {% endif %}
        <span class="ms-auto"><small>{{ 'added'|trans }} {{ manage.createdAt|ago }}</small></span>

    </li>
{% endfor %}
</ul>


<div class="card mt-3">

    <div class="card-header">

        <div class="card-title">
            <h5>{{ 'invite new managers'|trans|capitalize }}</h5>
        </div>
    </div>

    <div class="card-body">

        <div class="alert alert-warning">{{ 'Beware, once you\'ve invited managers, you can\'t remove them'|trans }}.</div>

        {{ form(form) }}

    </div>
</div>



{% endblock %}