{% extends 'base.html.twig' %}


{% block content %}



{% import 'macros/breadcrumbs.html.twig' as breadcrumbs %}

{{ breadcrumbs.render([
    {'url': url('user'), 'text': 'Users'},
    {'url': url('user_show', {id: user.id}), 'text': user.username},
    {'text': 'Edit'},
]) }}


<h1>Profile edit</h1>


{{ form_start(form) }}
    {{ form_row(form.avatarFile) }}
    {{ form_row(form.description) }}

    <div class="alert alert-secondary">
        Maximum paranoïa level is defined by your current user class:
        <span class="badge badge-primary">{{ app.user.userClass.name }}</span>
    </div>


    {{ form_row(form.paranoia) }}
{{ form_end(form) }}

{% endblock %}