{% extends 'base.html.twig' %}
{% import "macros/user.html.twig" as userMacro %}


{% block content %}

<div class="row">
    <div class="col-md-3">
        {{ form(form) }}
    </div>

    <div class="col-md-9">

        <div class="alert alert-info">
            {{ 'userAmount users found'|trans({'userAmount': usersPagination.getTotalItemCount}) }}
            {% if search.userClass %}
                {{ 'that are'|trans }}
                <a href="{{ path('userclass_show', {id: search.userClass.id}) }}" class="badge bg-primary">
                    {{ search.userClass.name }}
                </a>
            {% endif %}
            {% if search.disabled %}
            {{ 'including'|trans }} <span class="badge bg-danger"><i class="fas fa-ban"></i> {{ 'disabled'|trans }}</span>
            {% endif %}
        </div>
        <div class="d-flex flex-wrap">
                {% for user in usersPagination %}
                <div class="card mb-3 me-3" style="width: 320px;">

                    <div class="card-body d-flex">
                        {% if user.avatar %}
                            <a href="{{ path('user_show', {id: user.id}) }}">
                                <img class="rounded" src="{{ asset(user.getAvatarPath)|imagine_filter('avatar_100') }}" alt="avatar of user {{ user.username }}">
                            </a>
                        {% endif %}
                        <div class="ms-3">
                            <h5>
                                <a href="{{ path('user_show', {id: user.id}) }}">
                                    {{ user.username }}
                                </a>
                                {% if user.isDisabled %}
                                <span class="badge bg-danger" title="This user is disabled"><i class="fas fa-ban"></i></span>
                                {% endif %}
                            </h5>
                            <a class="badge bg-primary" href="{{ path('userclass_show', {id: user.userClass.id}) }}">
                                {{ user.userClass.name }}
                            </a>
                            <span class="badge bg-light">{{ user.shareScore }}</span>
                            </br>
                            <small class="text-muted">
                                {{ 'joined'|trans }} {{ user.createdAt|ago }}
                            </small>
                        </div>                    
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="navigation">
            {{ knp_pagination_render(usersPagination) }}
        </div>
    </div>


</div>

{% endblock %}