{% extends 'base.html.twig' %}
{% import "macros/user.html.twig" as userMacro %}


{% block content %}

<div class="row">
    <div class="col-md-3">
        {{ form(form) }}
    </div>

    <div class="col-md-9">

        <div class="alert alert-info">
            {{ users|length }} users found
            {% if search.userClass %}
                that are
                <a href="{{ path('userclass_show', {id: search.userClass.id}) }}" class="badge badge-primary">
                    {{ search.userClass.name }}
                </a>
            {% endif %}
            {% if search.disabled %}
                including <span class="badge badge-danger"><i class="fas fa-ban"></i> disabled</span>
            {% endif %}
        </div>

        {% for user in users %}

        <div class="card mb-3">

            <div class="card-header">

                <div class="card-title">
                    <h5>
                        {{ userMacro.render(user) }}
                    </h5>
                </div>
            </div>

            <div class="card-body">
            
                <a class="btn btn-light" href="{{ path('user_show', {id: user.id}) }}">discover</a>


            </div>

        </div>


        {% endfor %}

    </div>


</div>

{% endblock %}