{% extends 'base.html.twig' %}


{% block content %}


{% import 'macros/breadcrumbs.html.twig' as breadcrumbs %}

{{ breadcrumbs.render([
    {'url': url('user'), 'text': 'Users'},
    {'text': user.username},
]) }}


<h1>{{ user.username }}</h1>

<a class="btn btn-primary" href="{{ path('user_contact', {id: user.id}) }}">contacts</a>

{% if is_granted('edit', user) %}
<a class="btn btn-primary" href="{{ path('user_edit', {id: user.id}) }}">edit</a>
{% endif %}

<div class="row">


    <div class="col-lg-8">
    

        <div class="card mb-3">

            <div class="card-header">

                <div class="card-title">
                    <h3>Description</h3>
                </div>
            </div>

            <div class="card-body">

                {% if user.description %}
                <div>{{ user.description|markdown_to_html }}</div>
                {% endif %}

            </div>

        </div>
    </div>


    <div class="col-lg-4">

        {% if is_granted('view_stats', user) %}

        <div class="card mb-3">

            <div class="card-header">

                <div class="card-title">
                    <h3>Stats</h3>
                </div>
            </div>

            <div class="card-body">

                <ul>
                    <li>User class : <a href="{{ path('userclass_show', {id: user.userclass.id}) }}">{{ user.userclass }}</a></li>
                    <li>Managed sharables : {{ user.manages|length }}</li>
                    <li>Validations given : {{ user.validations|length }}</li>
                    <li>Paranoïa level : {{ user.paranoia }}</li>
                    <li>Share Score : {{ user.shareScore }}</li>
                    {% if user.getInvitation %}
                    <li>Invited by : <a href="{{ path('user_show', {id: user.getInvitation.getParent.id}) }}">{{ user.getInvitation.getParent.username }}</a></li>
                    {% endif %}
                    <li>Account creation : {{ user.getCreatedAt|format_date('short', locale='fr') }}</li>
                </ul>

            </div>
        </div>

        {% endif %}


        {% if is_granted('view_sharables', user) %}

        <div class="card mb-3">

            <div class="card-header">

                <div class="card-title">
                    <h3>Sharables</h3>
                </div>
            </div>

            <div class="card-body">

                <ul class="list-group list-group-flush">
                {% for manage in user.manages %}

                <li class="list-group-item">


                <a href="{{ path('sharable_show', {id: manage.sharable.id}) }}">{{ manage.sharable.name }}</a>
                {% if is_granted('edit', manage.sharable) %}
                <a class="btn btn-light" href="{{ path('sharable_edit', {id: manage.sharable.id}) }}">edit</a>
                {% endif %}

                </li>

                {% endfor %}
                </ul>

                {% if is_granted('edit', user) and is_granted('create', sharable) %}<a class="btn btn-success btn-block mb-3" href="{{ path('sharable_new') }}">create new sharable</a> {% endif %}

            </div>
        </div>

        {% endif %}



        {% if is_granted('view_validations', user) %}

        <div class="card mb-3">

            <div class="card-header">

                <div class="card-title">
                    <h3>Validations given</h3>
                </div>
            </div>

            <div class="card-body">


                <ul>
                {% for validation in user.Validations %}

                <li>
                <a href="{{ path('sharable_show', {id: validation.sharable.id}) }}">{{ validation.sharable.name }}</a>
                {{ validation.message }}
                </li>

                {% endfor %}
                </ul>

            </div>
        </div>

        {% endif %}



    </div>
</div>






{% endblock %}