{% extends 'base.html.twig' %}
{% import 'macros/breadcrumbs.html.twig' as breadcrumbs %}
{% import 'macros/sharable.html.twig' as sharable %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}



{{ breadcrumbs.render([
    {'url': url('user'), 'text': 'Users'},
    {'text': user.username},
]) }}


<div class="row">

    {% if user.avatar %}
    <div class="col-md-auto">
        <img class="rounded mb-3" src="{{ asset(user.getAvatarPath)|imagine_filter('avatar_200') }}" alt="avatar of user {{ user.username }}">
    </div>
    {% endif %}

    <div class="col-md-auto"> 
        <h1>{{ user.username }}</h1>

        <div class="btn-group mb-3">
            
            {% if is_granted('contact', user) %}
            <a class="btn btn-primary" href="{{ path('user_contact', {id: user.id}) }}"><i class="fas fa-address-book"></i> contacts</a>
            {% endif %}
            
            {% if is_granted('edit', user) %}
            <a class="btn btn-primary" href="{{ path('user_edit', {id: user.id}) }}"><i class="fas fa-pen"></i> edit</a>
            {% endif %}
        
        </div>

    </div>

</div>

<div class="row">


    <div class="col-lg-8">
    

        <div class="card mb-3">

            <div class="card-header">

                <div class="card-title">
                    <h3>Description</h3>
                </div>
            </div>

            <div class="card-body">

                {% if user.description %}
                <div>{{ user.description|markdown_to_html }}</div>
                {% endif %}

            </div>

        </div>
    </div>


    <div class="col-lg-4">

        {% if is_granted('view_stats', user) %}

        <div class="card mb-3">

            <div class="card-header">

                <div class="card-title">
                    <h3>Stats</h3>
                </div>
            </div>

            <div class="card-body">

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <i class="fas fa-birthday-cake"></i>
                        Joined {{ user.getCreatedAt|ago }}
                    </li>
                    <li class="list-group-item">
                        <i class="fas fa-clock"></i>
                        Last active {{ user.getLastActivity|ago }}
                    </li>
                    <li class="list-group-item">
                        <i class="fas fa-shield-alt"></i>
                        User class:
                        <a href="{{ path('userclass_show', {id: user.userClass.id}) }}">
                            <span class="badge badge-primary">{{ user.userClass.name }}</span>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <i class="fas fa-hands-helping"></i>
                        Share Score:
                        <span class="badge badge-light">{{ user.shareScore }}</span>
                    </li>
                    <li class="list-group-item">
                        <i class="fas fa-mask"></i>
                        Paranoïa level: {{ user.paranoia }}
                    </li>
                    {% if user.getInvitation %}
                    <li class="list-group-item">
                        <i class="fas fa-envelope-open"></i>
                        Invited by: <a href="{{ path('user_show', {id: user.getInvitation.getParent.id}) }}">{{ user.getInvitation.getParent.username }}</a>
                    </li>
                    {% endif %}
                    <li class="list-group-item">
                        <i class="fas fa-edit"></i>
                        Managed sharables: {{ user.manages|length }}
                    </li>
                    <li class="list-group-item list-group-item-success">
                        <i class="fas fa-check-circle"></i>
                        Validations given: {{ user.validations|length }}
                    </li>
                    <li class="list-group-item list-group-item-warning">
                        <i class="fas fa-question-circle"></i>
                        Interested in: {{ user.interesteds|length }}
                    </li>
                    {% if user.disabled %}
                        <li class="list-group-item list-group-item-danger">
                            <i class="fas fa-ban"></i>
                            Disabled
                        </li>
                    {% endif %}
                </ul>

            </div>
        </div>

        {% endif %}


        {% if is_granted('view_sharables', user) %}

        <div class="card mb-3">

            <div class="card-header">

                <h4 class="card-title d-flex justify-content-between align-items-center">
                    <span>
                        <i class="fas fa-edit"></i>
                        Manage
                        
                        
                    </span>
                    <small>
                    <a href="{{ path('sharable', {managedBy: user.id, disabled: 1}) }}" class="btn btn-primary">
                            {{ user.getConfirmedManages|length }}
                    </a>
                    </small>
            </h4>

            </div>

            <div class="card-body">

                <ul class="list-group list-group-flush">
                {% for manage in user.getConfirmedManages %}

                {% if is_granted('view', manage.sharable) %}

                    <li class="list-group-item">
                        {{ sharable.render(manage.sharable) }}
                    </li>
                
                {% endif %}

                {% endfor %}
                </ul>

                {% if is_granted('edit', user) and is_granted('create', sharable) %}<a class="btn btn-success btn-block mb-3" href="{{ path('sharable_new') }}"><i class="fas fa-plus-circle"></i> create new sharable</a> {% endif %}

            </div>
        </div>

        {% endif %}



        {% if is_granted('view_validations', user) %}

        <div class="card mb-3">

            <div class="card-header">

                <h4 class="card-title d-flex justify-content-between align-items-center">
                    <span>
                        <i class="fas fa-check-circle"></i>
                        Validations given
                    </span>
                <small>
                    <a href="{{ path('sharable', {validatedBy: user.id, disabled: 1}) }}" class="btn btn-success">
                        {{ user.validations|length }}
                    </a>
                </small>
                </h4>

            </div>

            <div class="card-body">


                <ul class="list-group list-group-flush">
                {% for validation in user.Validations %}

                {% if is_granted('view', validation.sharable) %}

                    <li class="list-group-item">
                        {{ sharable.render(validation.sharable) }}
                    <small>{{ validation.sendAt|ago }}</small>
                    </li>
                
                {% endif %}

                {% endfor %}
                </ul>

            </div>
        </div>

        {% endif %}

        {% if is_granted('view_interesteds', user) %}

        <div class="card mb-3">

            <div class="card-header">

                <h4 class="card-title d-flex justify-content-between align-items-center">
                    <span>
                        <i class="fas fa-question-circle"></i>
                        Interested in
                    </span>
                <small><span class="badge badge-light">{{ user.interesteds|length }}</span></small>
                </h4>

            </div>

            <div class="card-body">


                <ul class="list-group list-group-flush">
                {% for interested in user.interesteds %}

                {% if is_granted('view', interested.sharable) %}

                    <li class="list-group-item">
                        {{ sharable.render(interested.sharable) }}
                    <small>{{ interested.createdAt|ago }}</small>
                    </li>

                {% endif %}

                {% endfor %}
                </ul>

            </div>
        </div>

        {% endif %}



    </div>
</div>






{% endblock %}