{% extends 'email/base.html.twig' %}

{% block content %}

<h1>{{ 'Hi! Please confirm your email!'|trans }}</h1>

<p>
    {{ 'Please confirm your email address by clicking the following link:'|trans }}
    <br><br>
    <a href="{{ signedUrl|raw }}">{{ 'Confirm my Email'|trans }}</a>.
    {{ 'This link will expire in'|trans }} {{ expiresAt|date('g') }} {{ 'hour(s)'|trans }}.
</p>

{% endblock %}